###Module 01

#### Introduction / Theory :

1. Python supports multiple programming paradigms, like object-oriented, imperative and functional programming or procedural.

2. Dynamically Typed1.No need to declare anything. An assignment statement binds a name to an object, and the object can be of any type.2.No type casting required when using container objects

#### Print :

To print something on the console, print() function is used. This function also adds a newline after our message is printed(unlike in C). Note that in Python 2, “print” is not a function but a keyword and therefore can be used without parentheses. However, in Python 3, it is a function and must be invoked with parentheses.

In [0]:
print('Srijeet')
#prints will give space for comma operator :
print('Geeks','For','Geeks')

Srijeet
Geeks For Geeks

By default python's print() function ends with a newline. A programmer with C/C++ background may wonder how to print without newline.

Python's print() function comes with a parameter called 'end'. By default, the value of this parameter is '\n', i.e. the new line character. You can end a print statement with any character/string using this parameter.

In [0]:
# This Python program must be run with
# Python 3 as it won't work with 2.7.

# ends the output with a <space> 
print("Welcome to" , end = ' ') 
print("GeeksforGeeks", end = ' ')

Welcome to GeeksforGeeks

In [0]:
# This Python program must be run with
# Python 3 as it won't work with 2.7.

# ends the output with '@'
print("Python" , end = '@') 
print("GeeksforGeeks")

Python@GeeksforGeeks

In [0]:
string1 = 'Geeks'
string2 = 'For'
print( string1,string2,string1, sep = '$', end = '@')

Geeks$For$Geeks@

In [0]:
print('Srijeet'*4 , sep = '  ')

SrijeetSrijeetSrijeetSrijeet

####INPUT

In [0]:
# Python program to illustrate
# getting input from user
name = input("Enter your name: ") 

# user entered the name 'harssh'
print("hello", name)

Enter your name: Srijeet Chatterjee
hello Srijeet Chatterjee

INPUT always takes in a string

In [0]:

# Python3 program to get input from user

# accepting integer from the user
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))

num3 = num1 * num2
print("Product is: ", num3)

Enter num1: 12
Enter num2: 23
Product is:  276

In [0]:
num1 = input("Enter a Number : ")
print("The Number you have entered is : ",num1)

Enter a Number : 123
The Number you have entered is :  123

Input multiple values from User in a line :

In [0]:
x, y = input(),  input()

23
3

In [0]:
x, y = input().split()
print(x)
print(y)

23 45
23
45

In [0]:
# Reads two numbers from input and typecasts them to int using 
# list comprehension
x, y = [int(x) for x in input("Input two numbers please : ").split()]  
print(x)
print(y)

Input two numbers please : 23 45
23
45

In [0]:
# Reads two numbers from input and typecasts them to int using 
# map function
x, y = map(int, input("Input two numbers please : ").split())
print(x)
print(y)

Input two numbers please : 45 56
45
56

#### DataStructures :
Python have 4 types of built in Data Structures namely List, Dictionary, Tuple and Set.

####Function :

In [0]:
# Python program to illustrate 
# function with main

def getInteger():
  intA = int(input('Please Enter a Number : '))
  return intA

def mymain():
  print('Started')

  output = getInteger()
  print('The Number you just entered is : ',output)

# now we are required to tell Python 
# for 'Main' function existence

if __name__ == "__main__":
  mymain()

Started
Please Enter a Number : 23
The Number you just entered is :  23

####Modules

In [0]:
# Python program to illustrate
# math module
import math

def Main():
    num = float(input("Enter a number: "))

    # fabs is used to get the absolute value of a decimal
    num = math.fabs(num) 
    print(num)
if __name__=="__main__":
    Main()

Enter a number: -23
23.0

####Arithmetic Operators:

In [0]:
# Examples of Arithmetic Operator
a = 9
b = 4

# Addition of numbers
add = a + b
# Subtraction of numbers 
sub = a - b
# Multiplication of number 
mul = a * b
# Division(float) of number 
div1 = a / b
# Division(floor) of number 
div2 = a // b
# Modulo of both number
mod = a % b

# print results
print(add)
print(sub)
print(mul)
print(div1)
print(div2)
print(mod)

13
5
36
2.25
2
1

####Relational Operators :

In [0]:
# Examples of Relational Operators
a = 13
b = 33

# a > b is False
print(a > b)

# a < b is True
print(a < b)

# a == b is False
print(a == b)

# a != b is True
print(a != b)

# a >= b is False
print(a >= b)

# a <= b is True
print(a <= b)

False
True
False
True
False
True

####Logical Operators:

In [0]:
# Examples of Logical Operator
a = True
b = False

# Print a and b is False
print(a and b)

# Print a or b is True
print(a or b)

# Print not a is False
print(not a)

False
True
False

####Bitwise Operators:

In [0]:
# Examples of Bitwise operators
a = 10
b = 4

# Print bitwise AND operation  
print(a & b)

# Print bitwise OR operation
print(a | b)

# Print bitwise NOT operation 
print(~a)

# print bitwise XOR operation 
print(a ^ b)

# print bitwise right shift operation 
print(a >> 2)

# print bitwise left shift operation 
print(a << 2)

0
14
-11
14
2
40

#### Assignment Operators :

In [0]:
a = 3
a += 5
print(a)

8

####Special Operators:

In [0]:
# Examples of Identity operators
a1 = 3
b1 = 3
a2 = 'GeeksforGeeks'
b2 = 'GeeksforGeeks'
a3 = [1,2,3]
b3 = [1,2,3]


print(a1 is not b1)


print(a2 is b2)

# Output is False, since lists are mutable.
print(a3 is b3)

False
True
False

NOTE :   

Output is False, since lists are mutable.

print(a3 is b3)

#### Link for Operators :

https://www.youtube.com/watch?v=oiJUZbRIR7Y&feature=youtu.be

#### Ternery Operators:

syntax : [on_true] if [expression] else [on_false]

In [0]:
a , b = 19 , 2 
min = a if a < b else b
print(min)

2

In [0]:
# ------------- Using Tuples :----------------

a , b = 10 , 2 

print((b,a)[a < b])   #----------see this is ulta --------the output

# --------------- using dictionary ---------------

print(   {True : a , False : b}  [ a  <  b ] )

#--------- using lambda ---------------------

print( ( lambda :b , lambda : a) [ a < b ]() )

2
2
2

NOTE ::: 

lamda is more efficient than above two methods
because in lambda  we are assure that
only one expression will be evaluated unlike in
tuple and Dictionary

In [0]:
# Python program to demonstrate nested ternary operator
a, b = 10, 20

print ("Both a and b are equal" if a == b else "a is greater than b" if a > b else "b is greater than a")

b is greater than a

In [0]:
# same above can be written as :
# Python program to demonstrate nested ternary operator
a, b = 10, 20

if a != b:
    if a > b:
        print("a is greater than b")
    else:
        print("b is greater than a")
else:
    print("Both a and b are equal")

b is greater than a

NOTE ---->

1. Order of the arguments in the operator is different from other languages like C/C++ (See C/C++ ternary operators).
2. Conditional expressions have the lowest priority amongst all Python operations.

####Division Operator:

NOTE :----->

In Python 3, '/' operator does floating point division for both int and float arguments.

In [0]:
print(5/2)
print(-5/2)
print(5.0/2)
print(-5.0/2)


print(5//2)
print(-5//2)
print(5.0//2)
print(-5.0//2)

2.5
-2.5
2.5
-2.5
2
-3
2.0
-3.0

####Maximum Possible Value of Integer

In [0]:
# A Python program to demonstrate that we can store
# large numbers in Python

x = 10000000000000000000000000000000000000000000;
x = x + 1
print (x)

10000000000000000000000000000000000000000001

In Python, value of an integer is not restricted by the number of bits and can expand to the limit of the available memory (Sources : this and this). Thus we never need any special arrangement for storing large numbers (Imagine doing above arithmetic in C/C++).

As a side note, in Python 3, there is only one type "int" for all type of integers. In Python 2.7. there are two separate types "int" (which is 32 bit) and "long int" that is same as "int" of Python 3.x, i.e., can store arbitrarily large numbers.

In [0]:

# Printing 100 raise to power 100
print(100**100)

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

####Running and Saving .py file



1. 

Making a Python file: Python files are stored with the extension ".py". Open text editor and save a file with the name "hello.py". Open it and write the following code:

2. Reading the file contents: 

Linux System - Move to the directory from terminal where the created file (hello.py) is stored by using the 'cd' command, and then type the following in the terminal :

Windows system - Open command prompt and move to the directory where the file is stored by using the 'cd' command and then run the file by writing the file name as command.

####Type Conversion

Python defines type conversion functions to directly convert one data type to another which is useful in day to day and competitive programming. This article is aimed at providing the information about certain conversion functions.

1. int(a,base) : This function converts any data type to integer. 'Base' specifies the base in which string is if data type is string.

2. float() : This function is used to convert any data type to a floating point number

3. ord() : This function is used to convert a character to integer.

4. hex() : This function is to convert integer to hexadecimal string.

5. oct() : This function is to convert integer to octal string.

In [0]:
# Python code to demonstrate Type conversion
# using int(), float()

# initializing string
s = "10010"

# printing string converting to int base 2
c = int(s,2)
print ("After converting to integer base 2 : ", end = "")
print (c)

# printing string converting to float
e = float(s)
print ("After converting to float : ", end = "")
print (e)

After converting to integer base 2 : 18
After converting to float : 10010.0

In [0]:
# Python code to demonstrate Type conversion
# using  ord(), hex(), oct()

# initializing integer
s = '4'

# printing character converting to integer
c = ord(s)
print ("After converting character to integer : ",end="")
print (c)

# printing integer converting to hexadecimal string
c = hex(56)
print ("After converting 56 to hexadecimal string : ",end="")
print (c)

# printing integer converting to octal string
c = oct(56)
print ("After converting 56 to octal string : ",end="")
print (c)

After converting character to integer : 52
After converting 56 to hexadecimal string : 0x38
After converting 56 to octal string : 0o70

6. tuple() : This function is used to convert to a tuple.

7. set() : This function returns the type after converting to set.

8. list() : This function is used to convert any data type to a list type.

In [0]:

# Python code to demonstrate Type conversion
# using  tuple(), set(), list()

# initializing string
s = 'geeks'

# printing string converting to tuple
c = tuple(s)
print ("After converting string to tuple : ",end="")
print (c)

# printing string converting to set
c = set(s)
print ("After converting string to set : ",end="")
print (c)

# printing string converting to list
c = list(s)
print ("After converting string to list : ",end="")
print (c)

After converting string to tuple : ('g', 'e', 'e', 'k', 's')
After converting string to set : {'k', 'g', 's', 'e'}
After converting string to list : ['g', 'e', 'e', 'k', 's']

9. dict() : This function is used to convert a tuple of order (key,value) into a dictionary.

10. str() : Used to convert integer into a string.
11. complex(real,imag) : : This function converts real numbers to complex(real,imag) number.

In [0]:

# Python code to demonstrate Type conversion
# using  dict(), complex(), str()

# initializing integers
a = 1
b = 2

# initializing tuple of tuples :
tup = (('a', 1) ,('f', 2), ('g', 3))
print(tup[0])
print(type(tup))
print(type(tup[0]))

# printing integer converting to complex number
c = complex(1,2)
print ("After converting integer to complex number : ",end="")
print (c)

# printing integer converting to string
c = str(a)
print ("After converting integer to string : ",end="")
print (c)

# printing tuple converting to expression dictionary
c = dict(tup)
print ("After converting tuple to dictionary : ",end="")
print (c)

('a', 1)
<class 'tuple'>
<class 'tuple'>
After converting integer to complex number : (1+2j)
After converting integer to string : 1
After converting tuple to dictionary : {'a': 1, 'f': 2, 'g': 3}

#### \_\_name\_\_ : A special Variable in python

Since there is no main() function in Python, when the command to run a python program is given to the interpreter, the code that is at level 0 indentation is to be executed. However, before doing that, it will define a few special variables. \_\_name\_\_ is one such special variable. 

If the source file is executed as the main program, the interpreter sets the __name__ variable to have a value "\_\_main\_\_". If this file is being imported from another module, \_\_name\_\_ will be set to the module's name.


\_\_name\_\_ is a built-in variable which evaluates to the name of the current module. Thus it can be used to check whether the current script is being run on its own or being imported somewhere else by combining it with if statement, as shown below.

In [0]:
# File1.py

'''

print "File1 __name__ = %s" %__name__

if __name__ == "__main__":
	print "File1 is being run directly"
else:
	print "File1 is being imported"

'''

In [0]:
# File2.py

'''
import File1

print "File2 __name__ = %s" %__name__

if __name__ == "__main__":
	print "File2 is being run directly"
else:
	print "File2 is being imported"

'''

In [0]:
#----------------------Expected Output----------------------------------------

'''
Now the interpreter is given the command to run File1.py.
python File1.py
Output :
File1 __name__ = __main__
File1 is being run directly


And then File2.py is run.
python File2.py
Output :
File1 __name__ = File1
File1 is being imported
File2 __name__ = __main__
File2 is being run directly

'''

As seen above, when File1.py is run directly, the interpreter sets the \_\_name\_\_ variable as \_\_main\_\_ and when it is run through File2.py by importing, the \_\_name\_\_ variable is set as the name of the python script, i.e. File1. 

Thus, it can be said that if \_\_name\_\_ == "\_\_main\_\_" is the part of the program that runs when the script is run from the command line using a command like python File1.py.

###Module 2:

####Loops in Python :

#####While Loop

In [0]:
# Python program to illustrate
# while loop
count = 0
while (count < 3):    
    count = count + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

#####While Loop with a Else:

In [0]:
# while loop with else:

#Python program to illustrate
# combining else with while
count = 0
while (count < 3):    
    count = count + 1
    print("Hello Geek")
else:
    print("In Else Block")

Hello Geek
Hello Geek
Hello Geek
In Else Block

#####Single Statement While block:

In [0]:
# Python program to illustrate
# Single statement while block
count = 0
while (count < 4): print("Hello Geek")

Note: It is suggested not to use this type of loops as it is a never ending infinite loop where the condition is always true and you have to forcefully terminate the compiler.

#####for in Loop

In [0]:
# Python program to illustrate
# Iterating over range 0 to n-1

n = 4
for i in range(0, n):
    print(i)

0
1
2
3

In [0]:

# Python program to illustrate
# Iterating over a list
print("List Iteration")
l = ["geeks", "for", "geeks"]
for i in l:
    print(i)
     
# Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("geeks", "for", "geeks")
for i in t:
    print(i)
     
# Iterating over a String
print("\nString Iteration")    
s = "Geeks"
for i in s :
    print(i)
     
# Iterating over dictionary
print("\nDictionary Iteration")   
d = dict() 
d['xyz'] = 123
d['abc'] = 345
for i in d :
    print("%s  %d" %(i, d[i]))

List Iteration
geeks
for
geeks

Tuple Iteration
geeks
for
geeks

String Iteration
G
e
e
k
s

Dictionary Iteration
xyz  123
abc  345

#####Iterating by index of sequences:

In [0]:
# Python program to illustrate
# Iterating by index

list = ["geeks", "for", "geeks"]
for index in range(len(list)):
    print (list[index])

geeks
for
geeks

#####Using else statement with for loops:

In [0]:
# Python program to illustrate
# combining else with for

list = ["geeks", "for", "geeks"]
for index in range(len(list)):
    print (list[index])
else:
    print ("Inside Else Block")

geeks
for
geeks
Inside Else Block

#####Nested Loops

In [0]:
'''

for iterator_var in sequence:
    for iterator_var in sequence:
        statements(s)
        statements(s)


while expression:
    while expression: 
        statement(s)
        statement(s)

        '''

'\n\nfor iterator_var in sequence:\n    for iterator_var in sequence:\n        statements(s)\n        statements(s)\n\n\nwhile expression:\n    while expression: \n        statement(s)\n        statement(s)\n\n        '

In [0]:
# Python program to illustrate 
# nested for loops in Python
from __future__ import print_function
for i in range(1, 5):
    for j in range(i):
         print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

#####Loop Control Statements --- continue , break , pass

In [0]:
# Prints all letters except 'e' and 's'
for letter in 'geeksforgeeks': 
    if letter == 'e' or letter == 's':
         continue
    print ('Current Letter :', letter)
    var = 10

Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

In [0]:
for letter in 'geeksforgeeks': 

    # break the loop as soon it sees 'e' 
    # or 's'
    if letter == 'e' or letter == 's':
         break

print ('Current Letter :', letter)

Current Letter : e

In [0]:

# An empty loop
for letter in 'geeksforgeeks':
    pass
print ('Last Letter :', letter)

Last Letter : s

####Using Iteration in Python :

#####Accessing Items of iterable

In [0]:
# Accessing items using for-in loop

cars = ["Aston", "Audi", "McLaren"]
for x in cars:
    print (x)

Aston
Audi
McLaren

In [0]:
cars = ["Aston", "Audi", "McLaren"]
for i in range(len(cars)):
    print (cars[i])

Aston
Audi
McLaren

#####Enumerate

In [0]:
cars = ["Aston" , "Audi", "McLaren "]
for i, x in enumerate(cars):
    print (x)

Aston
Audi
McLaren

In [0]:
cars = ["Aston" , "Audi", "McLaren "]
for x in enumerate(cars):
    print (x[0], x[1])

0 Aston
1 Audi
2 McLaren

In [0]:
# Printing return value of enumerate() 

cars = ["Aston" , "Audi", "McLaren "]
print (enumerate(cars))

<enumerate object at 0x7f3c9abaf1b0>

In [0]:

# demonstrating the use of start in enumerate

cars = ["Aston" , "Audi", "McLaren "]
for x in enumerate(cars, start=1):
    print (x[0], x[1])

1 Aston
2 Audi
3 McLaren

#####Looping extensions: i) Two iterators for a single looping construct: In this case, a list and dictionary are to be used for each iteration in a single looping block using enumerate function. Let us see example.

In [0]:

# Two separate lists
cars = ["Aston", "Audi", "McLaren"]
accessories = ["GPS kit", "Car repair-tool kit"]

# Single dictionary holds prices of cars and 
# its accessories.
# First three items store prices of cars and
# next two items store prices of accessories.
prices = {1:"570000$", 2:"68000$", 3:"450000$",
          4:"8900$", 5:"4500$"}

# Printing prices of cars
for index, c in enumerate(cars, start=1):
    print ("Car: %s Price: %s"%(c, prices[index]))

# Printing prices of accessories
for index, a in enumerate(accessories,start=1):
    print ("Accessory: %s Price: %s"\
           %(a,prices[index+len(cars)]))

Car: Aston Price: 570000$
Car: Audi Price: 68000$
Car: McLaren Price: 450000$
Accessory: GPS kit Price: 8900$
Accessory: Car repair-tool kit Price: 4500$

#####ii) zip function :
(Both iterators to be used in single looping construct): This function is helpful to combine similar type iterators(list-list or dict- dict etc,) data items at ith position. It uses the shortest length of these input iterators. Other items of larger length iterators are skipped. In case of empty iterators, it returns No output.

In [0]:
# Python program to demonstrate the working of zip

# Two separate lists
cars = ["Aston", "Audi", "McLaren"]
accessories = ["GPS", "Car Repair Kit", 
               "Dolby sound kit"]

# Combining lists and printing
for c, a in zip(cars, accessories):
    print ("Car: %s, Accessory required: %s"\
          %(c, a))

Car: Aston, Accessory required: GPS
Car: Audi, Accessory required: Car Repair Kit
Car: McLaren, Accessory required: Dolby sound kit

In [0]:

# Python program to demonstrate unzip (reverse 
# of zip)using * with zip function

# Unzip lists
l1,l2 = zip(*[('Aston', 'GPS'), 
              ('Audi', 'Car Repair'), 
              ('McLaren', 'Dolby sound kit') 
           ])

# Printing unzipped lists      
print(l1)
print(l2)

('Aston', 'Audi', 'McLaren')
('GPS', 'Car Repair', 'Dolby sound kit')

####switch cases in Python :

In [0]:
# Function to convert number into string
# Switcher is dictionary data type here
def numbers_to_strings(argument):
    switcher = {
        0: "zero",
        1: "one",
        2: "two",
    }

    # get() method of dictionary data type returns 
    # value of passed argument if it is present 
    # in dictionary otherwise second argument will
    # be assigned as default value of passed argument
    return switcher.get(argument, "nothing")

# Driver program
if __name__ == "__main__":
    argument = 1
    print (numbers_to_strings(argument))

one

####Difference between is and == operator in python :

The == operator compares the values of both the operands and checks for value equality. Whereas is operator checks whether both the operands refer to the same object or not.

In [0]:

# python3 code to 
# illustrate the 
# difference between
# == and is operator
# [] is an empty list
list1 = []
list2 = []
list3=list1

if (list1 == list2):
    print("True")
else:
    print("False")

if (list1 is list2):
    print("True")
else:
    print("False")

if (list1 is list3):
    print("True")
else:    
    print("False")

list3 = list3 + list2

if (list1 is list3):
    print("True")
else:    
    print("False")

True
False
True
False

Output of the first if condition is "True" as both list1 and list2 are empty lists.

Second if condition shows "False" because two empty lists are at different memory locations. Hence list1 and list2 refer to different objects. We can check it with id() function in python which returns the “identity” of an object.

Output of the third if condition is "True" as both list1 and list3 are pointing to the same object.

Output of the fourth if condition is "False" because concatenation of two list is always produce a new list.

In [0]:
list1 = []
list2 = []

print(id(list1))
print(id(list2))

139898271110728
139898270731592

###Module 3 : strings

####Interesting Facts about strings in Python Part 1

    Strings are Immutable :

In [0]:
# Python3 program to show that 
# string cannot be changed

a = 'Geeks'

# output is displayed
print(a)

a[2] = 'E'
print(a) # causes error

Geeks

TypeError: ignored

But this works fine :

In [0]:

# Python3 program to show that 
# a string can be appended to a string.

a = 'Geeks'

# output is displayed
print(a)
a = a + 'for'

print(a) # works fine

Geeks
Geeksfor

In the second program, interpreter makes a copy of the original string and then work on it and modifies it. So the expression a = a +’for’ doesn't change string but reassigns the variable a to the new string generated by the result and drops down the previous string.

In [0]:

# Python3 program to show that
# both string hold same identity

string1 = "Hello"
string2 = "Hello"

print(id(string1))
print(id(string2))

140428519243424
140428519243424

 string1 and string2 both point to same object or same location.Now if someone try to modify any one of the string results will be different.

In [0]:
# Modifying a string

string1 = "Hello"

# identity of string1
print(id(string1))

string1 += "World"
print(string1)

# identity of modified string1
print(id(string1))

140416324034376
HelloWorld
140416314683632

String1 is modified which contradict the fact that strings are immutable, but the identity before and after modification are different.It means a new object of the string1 is created after modification which confirms the fact that strings are immutable as no change was made in previous object of string1 rather a new one is created

    Three ways to create strings:

Strings in Python can be created using single quotes or double quotes or a triple quotes .

The single quotes and double quotes works same for the string creation.Talking about triple quotes, these are used when we have to write a string in multiple lines and printing as it is without using any escape sequence

In [0]:
# Python3 program to create  
# strings in three different
# ways and concatenate them.

# string with single quotes
a = 'Geeks'

# string with double quotes
b = "for"

# string with triple quotes
c = '''Geeks a portal 
for geeks'''

d = '''He said, "I'm fine."'''

print(a)
print(b)
print(c)
print(d)


# Concatenation of strings created 
# using different quotes
print(a + b + c)

Geeks
for
Geeks a portal
for geeks
He said, "I'm fine."
GeeksforGeeks a portal
for geeks

    Printing Single or Double Quotes :

How to print single quote or double quote on screen? We can do that in the following two ways:

    First one is to use escape character to display the additional quote.
    The second way is by using mix quote, i.e., when we want to print single quote then using double quotes as delimiters and vice-versa.

In [0]:

print("Hi Mr Geek.")

# use of escape sequence
print("He said, \"Welcome to GeeksforGeeks\"")    

print('Hey so happy to be here')

# use of mix quotes
print ('Getting Geeky, "Loving it"')

Hi Mr Geek.
He said, "Welcome to GeeksforGeeks"
Hey so happy to be here
Getting Geeky, "Loving it"

How to print escape character instead?
If there is a requirement of printing the escape character(\) instead,then if user mention it in a string interpreter will think of it as escape character and will not print it.In order to print the escape character user have to use escape character before '' as shown in the example.

In [0]:
# Print Escape character
print (" \\ is back slash ")

 \ is back slash

####Interesting Facts about Strings in Python Set 2

Like other programming languages, it's possible to access individual characters of a string by using array-like indexing syntax. In this we can access each and every element of string through their index number and the indexing starts from 0. Python does index out of bound checking.

So, we can obtain the required character using syntax, 
    string_name[index_position]:

    The positive index_position denotes the element from the starting(0) and the negative index shows the index from the end(-1)

In [0]:
# A python program to illustrate slicing in strings

x = "Geeks at work"

# Prints 3rd character beginning from 0
print(x[2])

# Prints 7th character
print(x[6])  

# Prints 3rd character from rear beginning from -1
print(x[-3])

# Length of string is 10 so it is out of bound
print(x[14])

e
a
o

IndexError: ignored

    SLICING

To extract substring from the whole string then we use the syntax like

string_name[beginning: end : step]

    beginning represents the starting index of string
    end denotes the end index of string which is not inclusive 
    steps denotes the distance between the two words.

Note: We can also slice the string using beginning and only and steps are optional.

In [0]:
# A python program to illustrate
# print substrings of a string
x = "Welcome to GeeksforGeeks"

# Prints substring from 2nd to 5th character
print (x[2:5])      

# Prints substring stepping up 2nd character 
# from 4th to 10th character
print (x[4:10:2])    

# Prints 3rd character from rear from 3 to 5
print (x[-5:-3])

lco
oet
Ge

####String Methods Set 1 :

    Find :

1. find("string", beg, end) :- This function is used to find the position of the substring within a string.It takes 3 arguments, substring , starting index( by default 0) and ending index( by default string length).

    ```It returns "-1 " if string is not found in given range.
    It returns first occurrence of string if found.

2. rfind("string", beg, end) :- This function has the similar working as find(), but 

     ```it returns the position of the last occurrence of string.```

In [0]:
# Python code to demonstrate working of 
# find() and rfind()
str = "geeksforgeeks is for geeks"
str2 = "geeks"

# using find() to find first occurrence of str2
# returns 8
print ("The first occurrence of str2 is at : ", end="")
print (str.find( str2, 4) )

# using rfind() to find last occurrence of str2
# returns 21
print ("The last occurrence of str2 is at : ", end="")
print ( str.rfind( str2, 4) )

The first occurrence of str2 is at : 8
The last occurrence of str2 is at : 21

    str.startswith("sub_string", beg, end) :- 

    The purpose of this function is to return true if the function begins with mentioned string(prefix) else return false.```

    str.endswith("sub_string", beg, end) :- 
    
    The purpose of this function is to return true if the function ends with mentioned string(suffix) else return false.

In [0]:

# Python code to demonstrate working of 
# startswith() and endswith()

str = "geeks"
str1 = "geeksforgeeksportal"

# using startswith() to find if str 
# starts with str1
if str1.startswith(str):
        print ("str1 begins with : " + str)
else : print ("str1 does not begin with : "+ str)

# using endswith() to find 
# if str ends with str1
if str1.endswith(str):
    print ("str1 ends with : " + str)
else : print ("str1 does not end with : " + str)

str1 begins with : geeks
str1 does not end with : geeks

    str.islower(  ) &  str.isupper(  ) :

    islower("string") :- This function returns true if all the letters in the string are lower cased, otherwise false.

    isupper("string") :- This function returns true if all the letters in the string are upper cased, otherwise false.

In [0]:
# Python code to demonstrate working of 
# isupper() and islower()
str = "GeeksforGeeks"
str1 = "geeks"

# checking if all characters in str are upper cased
if str.isupper() :
       print ("All characters in str are upper cased")
else : print ("All characters in str are not upper cased")

# checking if all characters in str1 are lower cased
if str1.islower() :
       print ("All characters in str1 are lower cased")
else : print ("All characters in str1 are not lower cased")

All characters in str are not upper cased
All characters in str1 are lower cased

    str.lower() &  str.upper()& str.swapcase() & str.title():

    lower() :- This function returns the new string with all the letters converted into its lower case.

    upper() :- This function returns the new string with all the letters converted into its upper case.

    swapcase() :- This function is used to swap the cases of string i.e upper case is converted to lower case and vice versa.

    title() :- This function converts the string to its title case i.e the first letter of every word of string is upper cased and else all are lower cased.

In [0]:

# Python code to demonstrate working of 
# upper(), lower(), swapcase() and title()
str = "GeeksForGeeks is fOr GeeKs"

# Coverting string into its lower case
str1 = str.lower();
print (" The lower case converted string is : " + str1)

# Coverting string into its upper case
str2 = str.upper();
print (" The upper case converted string is : " + str2)

# Coverting string into its swapped case
str3 = str.swapcase();
print (" The swap case converted string is : " + str3)

# Coverting string into its title case
str4 = str.title();
print (" The title case converted string is : " + str4)

 The lower case converted string is : geeksforgeeks is for geeks
 The upper case converted string is : GEEKSFORGEEKS IS FOR GEEKS
 The swap case converted string is : gEEKSfORgEEKS IS FoR gEEkS
 The title case converted string is : Geeksforgeeks Is For Geeks

#### String Methods Set 2:

      1. len(str) :- 
      
      This function returns the length of the string.

      2. str.count("sub_string", beg, end) :- 

      This function counts the occurrence of mentioned substring in 
      whole string. This function takes 3 arguments, substring, 
      beginning position( by default 0) and end position(by default 
      string length).

In [0]:

# Python code to demonstrate working of 
# len() and count()
str = "geeksforgeeks is for geeks"
 
# Printing length of string using len()
print (" The length of string is : ", len(str));

# Printing occurrence of "geeks" in string
# Prints 2 as it only checks till 15th element
print (" Number of appearance of ""geeks"" is : ",end="")
print (str.count("geeks",0,15))

 The length of string is :  26
 Number of appearance of geeks is : 2

    3. str.center(200,'-') :- 

    This function is used to surround the string with a character repeated 
    both sides of string multiple times. By default the character is a 
    space. Takes 2 arguments, length of string and the character.

    4. str.ljust(20 , '-') :- 

    This function returns the original string shifted to left that has a 
    character at its right. It left adjusts the string. By default the 
    character is space. It also takes two arguments, length of string and 
    the character.

    5. str.rjust(20,'-') :- 
    
    This function returns the original string shifted to right that has 
    character at its left. It right adjusts the string. By default the 
    character is space. It also takes two arguments, length of string and 
    the character.

In [0]:
# Python code to demonstrate working of 
# center(), ljust() and rjust()
str = "geeksforgeeks"
 
# Printing the string after centering with '-'
print ("The string after centering with '-' is : ",end="")
print ( str.center(20,'-'))

# Printing the string after ljust()
print ("The string after ljust is : ",end="")
print ( str.ljust(20,'-'))

# Printing the string after rjust()
print ("The string after rjust is : ",end="")
print ( str.rjust(20,' '))

The string after centering with '-' is : ---geeksforgeeks----
The string after ljust is : geeksforgeeks-------
The string after rjust is :        geeksforgeeks


    6. str.isalpha() :-  True/False

    This function returns true when all the characters in the string are
    alphabets else returns false.

    7. str.isalnum() :-  True/False
    
    This function returns true when all the characters in the string are
    combination of numbers and/or alphabets(i.e. alphanumeric) else returns
    false.

    8. str.isspace() :-  True/False
    
    This function returns true when all the characters in the string are spaces
    else returns false

In [0]:
# Python code to demonstrate working of 
# isalpha(), isalnum(), isspace()
str = "geeksforgeeks"
str1 = "12dr3"
 
# Checking if str has all alphabets 
if (str.isalpha()):
       print ("All characters are alphabets in str")
else : print ("All characters are not alphabets in str")

# Checking if str1 has all alphanumeric
if (str1.isalnum()):
       print ("All characters are alphanumeric in str1")
else : print ("All characters are not alphanumeric in str1")

# Checking if str1 has all spaces
if (str1.isspace()):
       print ("All characters are spaces in str1")
else : print ("All characters are not spaces in str1")

All characters are alphabets in str
All characters are alphanumeric in str1
All characters are not spaces in str1

     9. '-'.join(iterable_with_string_elements) :- 
     
     This function is used to join a sequence of strings mentioned in its
     arguments with the string.

In [0]:
# Python code to demonstrate working of 
# join()
str = "_"
str1 = ["geeks", "for", "geeks" ]
str2 = ("GEEKS","FOR","GEEKS")

# using join() to join sequence str1 with str
print ("The string after joining is : ", end="")
print ( str.join(str1))
print ( str.join(str2))

The string after joining is : geeks_for_geeks
GEEKS_FOR_GEEKS

####String Methods Set 3

     1. str.strip(' ') :- 
     
     This method is used to delete all the leading and trailing characters
     mentioned in its argument.

     2. str.lstrip('-') :- 
     
     This method is used to delete all the leading characters mentioned in its
     argument.

     3. str.rstrip('-') :- 
     
     This method is used to delete all the trailing characters mentioned in 
     its argument.

In [0]:
# Python code to demonstrate working of 
# strip(), lstrip() and rstrip()
str = "---geeksforgeeks---"

# using strip() to delete all '-'
print ( " String after stripping all '-' is : ", end="")
print ( str.strip('-') )

# using lstrip() to delete all trailing '-'
print ( " String after stripping all leading '-' is : ", end="")
print ( str.lstrip('-') )

# using rstrip() to delete all leading '-'
print ( " String after stripping all trailing '-' is : ", end="")
print ( str.rstrip('-') )

 String after stripping all '-' is : geeksforgeeks
 String after stripping all leading '-' is : geeksforgeeks---
 String after stripping all trailing '-' is : ---geeksforgeeks

    4. min(str) :- 
    
    This function returns the minimum value alphabet from string.

    5. max(str) :- 
    
    This function returns the maximum value alphabet from string.

In [0]:
# Python code to demonstrate working of 
# min() and max()
str = "geeksforgeeks"

# using min() to print the smallest character
# prints 'e'
print ("The minimum value character is : " + min(str))

# using max() to print the largest character
# prints 's'
print ("The maximum value character is : " + max(str))

The minimum value character is : e
The maximum value character is : s

    
    6. <str>.maketrans(str1,str2) : Returns mapping , 
    
    **Note** : Here str is str object not any other string variable.
    Because in Python3, maketrans is a static method of the str type.
    
    It is used to map the contents of string 1 with string 2 with respective
    indices to be translated later using translate().
    
    mapping  = maketrans(str1,str2)
    
    7. str.translate(mapping) :
    
    This is used to swap the string elements mapped with the help of maketrans().

In [0]:
# Python code to demonstrate working of 
# maketrans() and translate()

mystr = "geeksforgeeks"

str1 = "gfo"
str2 = "abc"

# using maktrans() to map elements of str2 with str1
mapped = str.maketrans( str1, str2 )

# using translate() to translate using the mapping
print("The string after translation using mapped elements is : ")
print(mystr.translate(mapped))

The string after translation using mapped elements is :
aeeksbcraeeks

    8. str.replace(to_replace_sub_str , new_sub_str , 2) :- 
    
    This function is used to replace the substring with a new substring in the
    string. This function has 3 arguments. The string to replace, new string
    which would replace and max value denoting the limit to replace action
    ( by default unlimited ).

In [0]:
# Python code to demonstrate working of 
# replace()

mystr = "nerdsfornerds is for nerds"

str1 = "nerds"
str2 = "geeks"

# using replace() to replace str2 with str1 in str
# only changes 2 occurrences 
print ("The string after replacing strings is : ", end="")
print (mystr.replace( str1, str2, 2))

The string after replacing strings is : geeksforgeeks is for nerds

     9. str.expandtabs(5) :-  replaces \t with length 5 long space
     
     It is used to replace all tab characters(“\t”) with whitespace or simply
     spaces using the given tab size, which is optional to supply.

In [0]:
# Python code to illustrate expandtabs()
string = 'GEEKS\tFOR\tGEEKS'

# No parameters, by default size is 8
print (string.expandtabs())

# tab size taken as 2
print(string.expandtabs(40))

# tab size taken as 5
print(string.expandtabs(5))

GEEKS   FOR     GEEKS
GEEKS                                   FOR                                     GEEKS
GEEKS     FOR  GEEKS

#### Python | Program to convert String to a List

In this program, we will try to convert a given string to a list, where spaces or any other special characters, according to the users choice, are encountered. 

    To do this we use the split() method.
    
    Syntax:
    string.split("delimiter")

```

Examples:

Input : "Geeks for Geeks"
Output : ['Geeks', 'for', 'Geeks']

Input : "Geeks-for-Geeks"
Output : ['Geeks', 'for', 'Geeks']

```

The split method is used to split the strings and store them in the list. The built-in method returns a list of the words in the string, using the "delimiter" as the delimiter string. If a delimiter is not specified or is None, a different splitting algorithm is applied: runs of consecutive whitespace are regarded as a single separator, and the result will contain no empty strings at the start or end if the string has leading or trailing whitespace.

In [0]:
# Python code to convert string to list

def Convert(string):
    li = list(string.split(" "))
    return li

# Driver code    
str1 = "Geeks for Geeks"
print(Convert(str1))

['Geeks', 'for', 'Geeks']

In [0]:
# Python code to convert string to list
def Convert(string):
    li = list(string.split("-"))
    return li

# Driver code    
str1 = "Geeks-for-Geeks"
print(Convert(str1))

['Geeks', 'for', 'Geeks']

####Python | Check for URL in a string :

    Prerequisite : Pattern matching with Regular Expression

    In this article, we will need to accept a string and we need to check if
    the string contains any URL in it. If the URL is present in the string, we
    will say URL's been found or not and print the respective URL present in
    the string. We will use the concept of Regular Expression of Python to 
    solve the problem.

```
Examples:

Input : 
'My Profile:https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles in the portal of http://www.geeksforgeeks.org/'

Output :
['https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles', 'http://www.geeksforgeeks.org/']

Input : 
'I am a blogger at https://geeksforgeeks.org'

Output : 
['https://geeksforgeeks.org']
```

To find the URLs in a given string we have used the 

    findall() function from the regular expression module of Python. 

This return all non-overlapping matches of pattern in string, as a list of strings. The string is scanned left-to-right, and matches are returned in the order found.

In [0]:
# Python code to find the URL from an input string
# Using the regular expression
import re

def Find(string):
    # findall() has been used 
    # with valid conditions for urls in string
    url = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\), ]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', string)
    return url
    
# Driver Code
string = 'My Profile: https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles in the portal of http://www.geeksforgeeks.org/'

print("Urls: ", Find(string))

Urls:  ['https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles in the portal of http://www.geeksforgeeks.org/']

####Python String :

In Python, Strings are arrays of bytes representing Unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

    Creating a String
Strings in Python can be created using single quotes or double quotes or even triple quotes.

In [0]:
# Python Program for
# Creation of String

# Creating a String 
# with single Quotes
String1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ")
print(String1)

# Creating a String
# with double Quotes
String1 = "I'm a Geek"
print("\nString with the use of Double Quotes: ")
print(String1)

# Creating a String
# with triple Quotes
String1 = '''I'm a Geek and I live in a world of "Geeks"'''
print("\nString with the use of Triple Quotes: ")
print(String1)

# Creating String with triple
# Quotes allows multiple lines
String1 = '''Geeks
            For
            Life'''
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Geeks World

String with the use of Double Quotes:
I'm a Geek

String with the use of Triple Quotes:
I'm a Geek and I live in a world of "Geeks"

Creating a multiline String:
Geeks
            For
            Life

    Accessing characters in Python
In Python, individual characters of a String can be accessed by using the method of Indexing. Indexing allows negative address references to access characters from the back of the String, e.g. -1 refers to the last character, -2 refers to the second last character and so on.
While accessing an index out of the range will cause an IndexError. Only Integers are allowed to be passed as an index, float or other types will cause a TypeError.

In [0]:
# Python Program to Access
# characters of String

String1 = "GeeksForGeeks"
print("Initial String: ")
print(String1)

# Printing First character
print("\nFirst character of String is: ")
print(String1[0])

# Printing Last character
print("\nLast character of String is: ")
print(String1[-1])

Initial String:
GeeksForGeeks

First character of String is:
G

Last character of String is:
s

    String Slicing
To access a range of characters in the String, method of slicing is used. Slicing in a String is done by using a Slicing operator (colon).

In [0]:
# Python Program to
# demonstrate String slicing

# Creating a String
String1 = "GeeksForGeeks"
print("Initial String: ") 
print(String1)

# Printing 3rd to 12th character
print("\nSlicing characters from 3-12: ")
print(String1[3:12])

# Printing characters between 
# 3rd and 2nd last character
print("\nSlicing characters between " +
    "3rd and 2nd last character: ")
print(String1[3:-2])

Initial String:
GeeksForGeeks

Slicing characters from 3-12:
ksForGeek

Slicing characters between 3rd and 2nd last character:
ksForGee

    Deleting/Updating from a String
In Python, Updation or deletion of characters from a String is not allowed. This will cause an error because item assignment or item deletion from a String is not supported. Although deletion of entire String is possible with the use of a built-in del keyword. This is because Strings are immutable, hence elements of a String cannot be changed once it has been assigned. Only new strings can be reassigned to the same name.

In [0]:
# Python Program to Update
# character of a String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

# Updating a character 
# of the String
String1[2] = 'p'
print("\nUpdating character at 2nd Index: ")
print(String1)

Initial String:
Hello, I'm a Geek

TypeError: ignored

    Updating Entire String:

In [0]:
# Python Program to Update
# entire String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

# Updating a String
String1 = "Welcome to the Geek World"
print("\nUpdated String: ")
print(String1)

Initial String:
Hello, I'm a Geek

Updated String:
Welcome to the Geek World

    Deletion of a character:

In [0]:
# Python Program to Delete
# characters from a String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

# Deleting a character 
# of the String
del String1[2] 
print("\nDeleting character at 2nd Index: ")
print(String1)

Initial String:
Hello, I'm a Geek

TypeError: ignored

    Deleting Entire String:
Deletion of entire string is possible with the use of del keyword. Further, if we try to print the string, this will produce an error because String is deleted and is unavailable to be printed.

In [0]:
# Python Program to Delete
# entire String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

# Deleting a String
# with the use of del
del String1 
print("\nDeleting entire String: ")
print(String1)

Initial String:
Hello, I'm a Geek

Deleting entire String:

NameError: ignored

    Escape Sequencing in Python

While printing Strings with single and double quotes in it causes SyntaxError because String already contains Single and Double Quotes and hence cannot be printed with the use of either of these. 

    Hence, to print such a String either Triple Quotes are used or Escape sequences are used to print such Strings.

    Escape sequences start with a backslash and can be interpreted differently.
    
    If single quotes are used to represent a string, then all the single quotes
    present in the string must be escaped and same is done for Double Quotes.

In [0]:
# Python Program for
# Escape Sequencing 
# of String

# Initial String
String1 = '''I'm a "Geek"'''
print("Initial String with use of Triple Quotes: ")
print(String1)

# Escaping Single Quote 
String1 = 'I'm a "Geek"'
print("\nEscaping Single Quote: ")
print(String1)

# Escaping Doule Quotes
String1 = "I'm a \"Geek\""
print("\nEscaping Double Quotes: ")
print(String1)

# Printing Paths with the 
# use of Escape Sequences
String1 = "C:\\Python\\Geeks\\"
print("\nEscaping Backslashes: ")
print(String1)

SyntaxError: ignored

    To ignore the escape sequences in a String, r or R is used, 
    this implies that the string is a raw string and escape sequences 
    inside it are to be ignored.

In [0]:

# Printing Geeks in HEX
String1 = "This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting in HEX with the use of Escape Sequences: ")
print(String1)

# Using raw String to 
# ignore Escape Sequences
String1 = r"This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting Raw String in HEX Format: ")
print(String1)

Printing in HEX with the use of Escape Sequences:
This is Geeks in HEX

Printing Raw String in HEX Format:
This is \x47\x65\x65\x6b\x73 in \x48\x45\x58

    Formatting of Strings

Strings in Python can be formatted with the use of 

    format( ) method 
    
which is very versatile and powerful tool for formatting of Strings. Format method in String contains curly braces {} as placeholders which can hold arguments according to position or keyword to specify the order.

In [0]:
# Python Program for
# Formatting of Strings

# Default order
String1 = "{} {} {}".format('Geeks', 'For', 'Life')
print("Print String in default order: ")
print(String1)

# Positional Formatting
String1 = "{1} {0} {2}".format('Geeks', 'For', 'Life')
print("\nPrint String in Positional order: ")
print(String1)

# Keyword Formatting
String1 = "{l} {f} {g}".format(g = 'Geeks', f = 'For', l = 'Life')
print("\nPrint String in order of Keywords: ")
print(String1)

Print String in default order:
Geeks For Life

Print String in Positional order:
For Geeks Life

Print String in order of Keywords:
Life For Geeks

 Integers such as Binary, hexadecimal, etc. and floats can be rounded or displayed in the exponent form with the use of format specifiers.

In [0]:
# Formatting of Integers
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)

# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(String1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.17

    A string can be left() or center(^) justified with the use of format specifiers, separated by colon(:).

In [0]:
# String alignment
String1 = "|{:<10}|{:^10}|{:>10}|".format('Geeks','for','Geeks')
print("\nLeft, center and right alignment with Formatting: ")
print(String1)

# To demonstrate aligning of spaces 
String1 = "\n{0:^16} was founded in {1:<4}!".format("GeeksforGeeks", 2009)
print(String1)

Left, center and right alignment with Formatting:
|Geeks     |   for    |     Geeks|

 GeeksforGeeks   was founded in 2009!

    Old style formatting was done without the use of format method by using % operator

In [0]:
# Python Program for
# Old Style Formatting
# of Integers

Integer1 = 12.3456789
print("Formatting in 3.2f format: ")
print('The value of Integer1 is %3.2f' %Integer1)
print("\nFormatting in 3.4f format: ")
print('The value of Integer1 is %3.4f' %Integer1)

Formatting in 3.2f format:
The value of Integer1 is 12.35

Formatting in 3.4f format:
The value of Integer1 is 12.3457

    String constants

```

string.ascii_letters 	  Concatenation of the ascii_lowercase and ascii_uppercase constants.
string.ascii_lowercase 	Concatenation of lowercase letters
string.ascii_uppercase 	Concatenation of uppercase letters
string.digits 	         Digit in strings
string.hexdigits 	      Hexadigit in strings
string.letters 	        concatenation of the strings lowercase and uppercase
string.lowercase 	      A string must contain lowercase letters.
string.octdigits 	      Octadigit in a string
string.punctuation 	    ASCII characters having punctuation characters.
string.printable 	      String of characters which are printable
String.endswith() 	     Returns True if a string ends with the given suffix otherwise returns False
String.startswith() 	   Returns True if a string starts with the given prefix otherwise returns False
String.isdigit() 	      Returns “True” if all characters in the string are digits, Otherwise, It returns “False”.
String.isalpha() 	      Returns “True” if all characters in the string are alphabets, Otherwise, It returns “False”.
string.isdecimal() 	    Returns true if all characters in a string are decimal.
str.format() 	          one of the string formatting methods in Python3, which allows multiple substitutions and value formatting.
String.index 	          Returns the position of the first occurrence of substring in a string
string.uppercase 	      A string must contain uppercase letters.
string.whitespace 	     A string containing all characters that are considered whitespace.
string.swapcase() 	     Method converts all uppercase characters to lowercase and vice versa of the given string, and returns it
replace() 	             returns a copy of the string where all occurrences of a substring is replaced with another substring.

```

    Deprecated string functions

```

string.Isdecimal 	Returns true if all characters in a string are decimal
String.Isalnum 	Returns true if all the characters in a given string are alphanumeric.
string.Istitle 	Returns True if the string is a titlecased string
String.partition 	splits the string at the first occurrence of the separator and returns a tuple.
String.Isidentifier 	Check whether a string is a valid identifier or not.
String.len 	Returns the length of the string.
String.rindex 	Returns the highest index of the substring inside the string if substring is found.
String.Max 	Returns the highest alphabetical character in a string.
String.min 	Returns the minimum alphabetical character in a string.
String.splitlines 	Returns a list of lines in the string.
string.capitalize 	Return a word with its first character capitalized.
string.expandtabs 	Expand tabs in a string replacing them by one or more spaces
string.find 	Return the lowest indexin a sub string.
string.rfind 	find the highest index.
string.count 	Return the number of (non-overlapping) occurrences of substring sub in string
string.lower 	Return a copy of s, but with upper case letters converted to lower case.
string.split 	Return a list of the words of the string,If the optional second argument sep is absent or None
string.rsplit() 	Return a list of the words of the string s, scanning s from the end.
rpartition() 	Method splits the given string into three parts
string.splitfields 	Return a list of the words of the string when only used with two arguments.
string.join 	Concatenate a list or tuple of words with intervening occurrences of sep.
string.strip() 	It return a copy of the string with both leading and trailing characters removed
string.lstrip 	Return a copy of the string with leading characters removed.
string.rstrip 	Return a copy of the string with trailing characters removed.
string.swapcase 	Converts lower case letters to upper case and vice versa.
string.translate 	translate the characters using table
string.upper 	lower case letters converted to upper case.
string.ljust 	left-justify in a field of given width.
string.rjust 	Right-justify in a field of given width.
string.center() 	Center-justify in a field of given width.
string-zfill 	Pad a numeric string on the left with zero digits until the given width is reached.
string.replace 	Return a copy of string s with all occurrences of substring old replaced by new.

```

####Pattern Matching in Python with Regex:

Prerequisite: Regular Expressions in Python

You may be familiar with searching for text by pressing ctrl-F and typing in the words you’re looking for. Regular expressions go one step further: They allow you to specify a pattern of text to search for.

Regular expressions, called regexes for short, are descriptions for a pattern of text. For example, a \d in a regex stands for a digit character — that is, any single numeral 0 to 9.

    Following regex is used in Python to match a string of three numbers, a
    hyphen, three more numbers, another hyphen, and four numbers.

    Any other string would not match the pattern.

    \d\d\d-\d\d\d-\d\d\d\d

    Regular expressions can be much more sophisticated. For example, adding a 
    3 in curly brackets ({3}) after a pattern is like saying, “ Match this
    pattern three times.” So the slightly shorter regex

    \d{3}-\d{3}-\d{4}

***Creating Regex object***

All the regex functions in Python are in the re module

    import re

To create a Regex object that matches the phone number pattern, enter the following into the interactive shell.

    phoneNumRegex = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')

Now the phoneNumRegex variable contains a Regex object.

***Matching regex objects***

A Regex object’s search() method searches the string it is passed for any matches to the regex. Match objects have a group() method that will return the actual matched text from the searched string.

In [0]:
# Python program to illustrate
# Matching regex objects
import re
phoneNumRegex = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')
mo = phoneNumRegex.search('My number is 415-555-4242.')
print('Phone number found: ' + mo.group())

Phone number found: 415-555-4242

    Steps of Regular Expression Matching

While there are several steps to using regular expressions in Python, each step is fairly simple.

    1. Import the regex module with import re.
    2. Create a Regex object with the re.compile() function. (Remember to use a raw string.)
    3. Pass the string you want to search into the Regex object’s search() method. This returns a Match object.
    4. Call the Match object’s group() method to return a string of the actual matched text.

***Grouping with parentheses***

    **Matching objects**:
    
    Say you want to separate the area code from the rest of
    the phone number. 
    
    Adding parentheses will create groups in the regex:

    (\d\d\d)-(\d\d\d-\d\d\d\d). 
    
    Then you can use the group() match object method to grab the matching 
    text from just one group.

In [0]:
# Python program to illustrate
# Matching regex objects
# with grouping 
import re
phoneNumRegex = re.compile(r'(\d\d\d)-(\d\d\d-\d\d\d\d)')
mo = phoneNumRegex.search('My number is 415-555-4242.')
print(mo.group(1))

415

    Retrieve all the groups at once : 
    
    If you would like to retrieve all the groups at once, use the groups(),
    method—note the plural form for the name.

In [0]:
# Python program to illustrate
# Matching regex objects
# with groups 
import re
phoneNumRegex = re.compile(r'(\d\d\d)-(\d\d\d-\d\d\d\d)')
mo = phoneNumRegex.search('My number is 415-555-4242.')
print(mo.groups())

('415', '555-4242')

    Using mo.groups : 
    
    mo.groups() will return a tuple of multiple values, you can use the
    multiple-assignment trick to assign each value to a separate variable,
    as in the following areaCode, mainNumber = mo.groups() line.

In [0]:
# Python program to illustrate
# Matching regex objects
# with mo.groups() 
import re
phoneNumRegex = re.compile(r'(\d\d\d)-(\d\d\d-\d\d\d\d)')
mo = phoneNumRegex.search('My number is 415-555-4242.')
areaCode, mainNumber = mo.groups()
print(mainNumber)

555-4242

    Match a parenthesis : 
    
    Parentheses have a special meaning in regular expressions, but what 
    do you do if you need to match a parenthesis in your text. 
    
    For instance, maybe the phone numbers you are trying to match have the 
    area code set in parentheses. 
    
    In this case, you need to escape the ( and ) characters with a backslash.
    Enter the following into the interactive shell:

In [0]:
# Python program to illustrate
# Matching regex objects
# with grouping 
import re
phoneNumRegex = re.compile(r'(\(\d\d\d\)) (\d\d\d-\d\d\d\d)')
mo = phoneNumRegex.search('My phone number is (415) 555-4242.')
print(mo.group(1))

(415)

    Matching Multiple Groups with the Pipe

    The | character is called a pipe. 
    
    You can use it anywhere you want to match one of many expressions. 
    For example, the regular expression r'Batman|Tina Fey' will match 
    either 'Batman' or 'Tina Fey'.

When both Batman and Tina Fey occur in the searched string, the first occurrence of matching text will be returned as the Match object. Enter the following into the interactive shell:

In [0]:
# Python program to illustrate
# Matching regex objects
# with multiple Groups with the Pipe
import re
heroRegex = re.compile (r'Batman|Tina Fey')
mo1 = heroRegex.search('Batman and Tina Fey.')
print(mo1.group())

Batman

    Matching Specific Repetitions with Curly Brackets

If you have a group that you want to repeat a specific number of times, follow the group in your regex with a number in curly brackets. For example, the regex (Ha){3} will match the string 'HaHaHa', but it will not match 'HaHa', since the latter has only two repeats of the (Ha) group.

    Instead of one number, you can specify a range by writing a minimum, a
    comma, and a maximum in between the curly brackets. For example, the 
    regex (Ha){3, 5} will match 'HaHaHa', 'HaHaHaHa', and 'HaHaHaHaHa'.

You can also leave out the first or second number in the curly brackets to leave the minimum or maximum unbounded. 

    For example, (Ha){3, } will match three or more instances of the (Ha)
    group, while (Ha){, 5} will match zero to five instances. 

Curly brackets can help make your regular expressions shorter. These two regular expressions match identical patterns:

    (Ha){3}

    (Ha)(Ha)(Ha)

    And these two regular expressions also match identical patterns:

    (Ha){3, 5}

    ((Ha)(Ha)(Ha))|((Ha)(Ha)(Ha)(Ha))|((Ha)(Ha)(Ha)(Ha)(Ha))

In [0]:
# Python program to illustrate
# Matching Specific Repetitions 
# with Curly Brackets
import re
haRegex = re.compile(r'(Ha){3}')
mo1 = haRegex.search('HaHaHa')
print(mo1.group())

HaHaHa

In [0]:
# Python program to illustrate
# Matching Specific Repetitions 
# with Curly Brackets
import re
haRegex = re.compile(r'(Ha){3}')
mo2 = haRegex.search('Ha')== None
print(mo2)

True

    Here, (Ha){3} matches 'HaHaHa' but not 'Ha'. Since it doesn’t match 'Ha', search() returns None.

    Optional Matching with the Question Mark

Sometimes there is a pattern that you want to match only optionally. 

That is, the regex should find a match whether or not that bit of text is there. 

    The ? character flags the group that precedes it as an optional part of 
    the pattern. For example, enter the following into the interactive shell:

In [0]:
# Python program to illustrate
# optional matching
# with question mark(?)
import re
batRegex = re.compile(r'Bat(wo)?man')
mo1 = batRegex.search('The Adventures of Batman')
print(mo1.group())

Batman

In [0]:
# Python program to illustrate
# optional matching
# with question mark(?)
import re
batRegex = re.compile(r'Bat(wo)?man')
mo2 = batRegex.search('The Adventures of Batwoman')
print(mo2.group())

Batwoman

    The (wo)? part of the regular expression means that the pattern wo is 
    an optional group. The regex will match text that has zero instances or 
    one instance of wo in it. This is why the regex matches both 'Batwoman' 
    and 'Batman'.
    
You can think of the ? as saying, “Match zero or one of the group preceding this question mark.” If you need to match an actual question mark character, escape it with \?.

    Matching Zero or More with the Star
    
The * (called the star or asterisk) means “match zero or more”—the group that precedes the star can occur any number of times in the text. It can be completely absent or repeated over and over again. Let’s look at the Batman example again.

In [0]:
# Python program to illustrate
# matching a regular expression
# with asterisk(*)
import re
batRegex = re.compile(r'Bat(wo)*man')
mo1 = batRegex.search('The Adventures of Batman')
print(mo1.group())

Batman

In [0]:
#python program to illustrate
#matching a regular expression
#with asterisk(*)
import re
batRegex = re.compile(r'Bat(wo)*man')
mo2 = batRegex.search('The Adventures of Batwoman')
print(mo2.group())

Batwoman

In [0]:
# Python program to illustrate
# matching a regular expression
# with asterisk(*)
import re
batRegex = re.compile(r'Bat(wo)*man')
mo3 = batRegex.search('The Adventures of Batwowowowoman')
print(mo3.group())

Batwowowowoman

    For 'Batman', the (wo)* part of the regex matches zero instances of wo 
    in the string; for 'Batwoman', the (wo)* matches one instance of wo; 
    and for 'Batwowowowoman', (wo)* matches four instances of wo.

    If you need to match an actual star character, prefix the star in the regular expression with a backslash, \*.

    Matching One or More with the Plus

While * means “match zero or more, ” the + (or plus) means “match one or more.” Unlike the star, which does not require its group to appear in the matched string, the group preceding a plus must appear at least once. It is not optional. Enter the following into the interactive shell, and compare it with the star regexes in the previous section:

In [0]:
# Python program to illustrate
# matching a regular expression
# with plus(+)
import re
batRegex = re.compile(r'Bat(wo)+man')
mo1 = batRegex.search('The Adventures of Batwoman')
print(mo1.group())

Batwoman

In [0]:
# Python program to illustrate
# matching a regular expression
# with plus(+)
import re
batRegex = re.compile(r'Bat(wo)+man')
mo2 = batRegex.search('The Adventures of Batwowowowoman')
print(mo2.group())

Batwowowowoman

In [0]:
# Python program to illustrate
# matching a regular expression
# with plus(+)
import re
batRegex = re.compile(r'Bat(wo)+man')
mo3 = batRegex.search('The Adventures of Batman')== None
print(mo3)

True

The regex Bat(wo)+man will not match the string 'The Adventures of Batman' because at least one wo is required by the plus sign.

    If you need to match an actual plus sign character, prefix the plus sign with a backslash to escape it: \+.

#### Python Regex to extract maximum numeric value from a string

Given an alphanumeric string, extract maximum numeric value from that string. Alphabets will only be in lower case.

```
Examples:

Input : 100klh564abc365bg
Output : 564
Maximum numeric value among 100, 564 
and 365 is 564.

Input : abchsd0sdhs
Output : 0
```

This problem has existing solution please refer Extract maximum numeric value from a given string | Set 1 (General approach) link. We will solve this problem quickly in python using Regex. Approach is very simple,

    1. Find list of all integer numbers in string separated by lower 
       case characters using re.findall(expression,string) method.

    2. Convert each number in form of string into decimal number and then 
       find max of it.

In [0]:
# Function to extract maximum numeric value from 
# a given string
import re

def extractMax(input):

     # get a list of all numbers separated by 
     # lower case characters 
     # \d+ is a regular expression which means
     # one or more digit
     # output will be like ['100','564','365']
     numbers = re.findall('\d+',input)
     print(numbers)

     # now we need to convert each number into integer
     # int(string) converts string into integer
     # we will map int() function onto all elements 
     # of numbers list
     numbers = map(int,numbers)

     print (max(numbers))

# Driver program
if __name__ == "__main__":
    input = '100klh564abc365bg'
    extractMax(input)

['100', '564', '365']
564

###Module 4 : Classes and Functions :

#### Set2:(Variables, Expressions ,Conditions and Functions ):

##### Dictionaries , Random , Date&Time

And Intro to Dictionaries:

In [0]:
# Create a new dictionary  
d = dict() # or d = {} 
  
# Add a key - value pairs to dictionary 
d['xyz'] = 123
d['abc'] = 345
  
# print the whole dictionary 
print (d)
  
# print only the keys 
print (d.keys()) 
  
# print only values 
print (d.values() )
  
# iterate over dictionary  
for i in d : 
    print ("%s  %d" %(i, d[i]) )
  
# another method of iteration 
for index, key in enumerate(d): 
    print (index, key, d[key]) 
  
# check if key exist 
print ('xyz') in d 
  
# delete the key-value pair 
del d['xyz'] 
  
# check again  
print ("xyz") in d

{'xyz': 123, 'abc': 345}
dict_keys(['xyz', 'abc'])
dict_values([123, 345])
xyz  123
abc  345
0 xyz 123
1 abc 345
xyz
xyz

False

MAP , FILTER and LAMBDA

In [0]:
# Python program to test map, filter and lambda 
  
# Function to test map  
def cube(x): 
    return x**2
  
# Driver to test above function 
  
# Program for working of map  
print ("MAP EXAMPLES")
cubes = map(cube, range(10)) 
print (cubes) 
  
print ("LAMBDA EXAMPLES")
  
# first parentheses contains a lambda form, that is   
# a squaring function and second parentheses represents 
# calling lambda 
print ((lambda x: x**2)(5) )
  
# Make function of two arguments that return their product 
print ((lambda x, y: x*y)(3, 4) )
  
  
print ("FILTER EXAMPLE")
special_cubes = filter(lambda x: x > 9 and x < 60, cubes) 
print (special_cubes)

MAP EXAMPLES
<map object at 0x7f9c5e942e80>
LAMBDA EXAMPLES
25
12
FILTER EXAMPLE
<filter object at 0x7f9c5e942ef0>

In [0]:
type(int)

type

In [0]:
chr(ord("A"))

'A'

DATE &  TIME

In [0]:
# importing built in module datetime
import datetime
from datetime import date
import time

# Returns the number of seconds since the
# Unix Epoch, January 1st 1970
print (time.time() )

# Converts a number of seconds to a date object
print (date.fromtimestamp(454554))

1588537320.4920733
1970-01-06

RANDOM:

In [0]:
# importing built in module random
import random

# printing random integer between 0 and 5
print (random.randint(0, 5)) 

# print random floating point number between 0 and 1
print (random.random()) 

# random number between 0 and 100
print (random.random() * 100) 

List = [1, 4, True, 800, "python", 27, "hello"]

# using choice function in random module for choosing 
# a random element from a set such as a list
print (random.choice(List))

1
0.3365023683229488
7.697218975103159
1

####Writing Empty Functions in Python : Pass statement :

In [0]:
def sri():
  pass

In [0]:
# Empty loop in Python
mutex = True
while (mutex == True) :
    pass

####Using Yeild Instead of Return :

    The yield statement suspends function's execution and sends a value 
    back to the caller, but retains enough state to enable function to 
    resume where it is left off. When resumed, the function continues 
    execution immediately after the last yield run. This allows its code 
    to produce a series of values over time, rather than computing them 
    at once and sending them back like a list.

Let’s see with an example:

In [0]:
# A Simple Python program to demonstrate working
# of yield

# A generator function that yields 1 for the first time,
# 2 second time and 3 third time
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3

# Driver code to check above generator function
for value in simpleGeneratorFun(): 
    print(value)

1
2
3

  Return sends a specified value back to its caller whereas Yield can produce a sequence of values. We should use yield when we want to iterate over a sequence, but don't want to store the entire sequence in memory.

    Yield are used in Python generators. 
    
  A generator function is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return. If the body of a def contains yield, the function automatically becomes a generator function.

In [0]:
# A Python program to generate squares from 1
# to 100 using yield and therefore generator

# An infinite generator function that prints
# next square number. It starts with 1
def nextSquare():
    i = 1;

    # An Infinite loop to generate squares 
    while True:
        yield i*i                
        i += 1  # Next execution resumes 
                # from this point     

# Driver code to test above generator 
# function
for num in nextSquare():
    if num > 100:
         break    
    print(num)

1
4
9
16
25
36
49
64
81
100

####Python Modules :

A module is a file containing Python definitions and statements. A module can define functions, classes and variables. A module can also include runnable code. Grouping related code into a module makes the code easier to understand and use.

In [0]:

# A simple module, calc.py

def add(x, y):
    return (x+y)

def subtract(x, y):
    return (x-y)

    The import statement 

We can use any Python source file as a module by executing an import statement in some other Python source file.
When interpreter encounters an import statement, it imports the module if the module is present in the search path. A search path is a list of directories that the interpreter searches for importing a module. For example, to import the module calc.py, we need to put the following command at the top of the script :

In [0]:

# importing  module calc.py
import calc

print (add(10, 2))

    The from import Statement

Python's from statement lets you import specific attributes from a module. The from .. import .. has the following syntax :

In [0]:
# importing sqrt() and factorial from the 
# module math
from math import sqrt, factorial

# if we simply do "import math", then
# math.sqrt(16) and math.factorial()
# are required.
print (sqrt(16))
print (factorial(6))

4.0
720

    The dir() function 
    
  The dir() built-in function returns a sorted list of strings containing the names defined by a module. The list contains the names of all the modules, variables and functions that are defined in a module.

In [0]:
#  Import built-in module  random
import  random
print  (dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_BuiltinMethodType', '_MethodType', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_inst', '_itertools', '_log', '_pi', '_random', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

    Code Snippet illustrating python built-in modules:

In [0]:

# importing built-in module math
import math

# using square root(sqrt) function contained 
# in math module
print (math.sqrt(25)) 

# using pi function contained in math module
print (math.pi) 

# 2 radians = 114.59 degreees
print (math.degrees(2)) 

# 60 degrees = 1.04 radians
print (math.radians(60)) 

# Sine of 2 radians
print (math.sin(2)) 

# Cosine of 0.5 radians
print (math.cos(0.5)) 

# Tangent of 0.23 radians
print (math.tan(0.23))

# 1 * 2 * 3 * 4 = 24
print (math.factorial(4) )

5.0
3.141592653589793
114.59155902616465
1.0471975511965976
0.9092974268256817
0.8775825618903728
0.23414336235146527
24

In [0]:
# importing built in module random
import random

# printing random integer between 0 and 5
print (random.randint(0, 5)) 

# print random floating point number between 0 and 1
print (random.random()) 

# random number between 0 and 100
print (random.random() * 100) 

List = [1, 4, True, 800, "python", 27, "hello"]

# using choice function in random module for choosing 
# a random element from a set such as a list
print (random.choice(List))

3
0.495107937301308
85.46122725262762
27

In [0]:
# importing built in module datetime
import datetime
from datetime import date
import time

# Returns the number of seconds since the
# Unix Epoch, January 1st 1970
print (time.time() )

# Converts a number of seconds to a date object
print (date.fromtimestamp(454554))

1588603374.7505958
1970-01-06

####Inheritence :

One of the major advantages of Object Oriented Programming is re-use. Inheritance is one of the mechanisms to achieve the same. In inheritance, a class (usually called superclass) is inherited by another class (usually called subclass). The subclass adds some attributes to superclass.

Below is a sample Python program to show how inheritance is implemented in Python

In [0]:
 
# A Python program to demonstrate inheritance 

# Base or Super class. Note object in bracket.
# (Generally, object is made ancestor of all classes)
# In Python 3.x "class Person" is 
# equivalent to "class Person(object)"
class Person(object):
    
    # Constructor
    def __init__(self, name):
        self.name = name

    # To get name
    def getName(self):
        return self.name

    # To check if this person is employee
    def isEmployee(self):
        return False


# Inherited or Sub class (Note Person in bracket)
class Employee(Person):

    # Here we return true
    def isEmployee(self):
        return True

# Driver code
emp = Person("Geek1")  # An Object of Person
print(emp.getName(), emp.isEmployee())

emp = Employee("Geek2") # An Object of Employee
print(emp.getName(), emp.isEmployee())

Geek1 False
Geek2 True

    How to check if a class is subclass of another? Python provides a function issubclass() that directly tells us if a class is subclass of another class.

In [0]:
# Python example to check if a class is
# subclass of another

class Base(object):
    pass   # Empty Class

class Derived(Base):
    pass   # Empty Class

# Driver Code
print(issubclass(Derived, Base))
print(issubclass(Base, Derived))

d = Derived()
b = Base()

# b is not an instance of Derived
print(isinstance(b, Derived))

# But d is an instance of Base
print(isinstance(d, Base))

True
False
False
True

    What is object class? 
    
    Like Java Object class, in Python (from version 3.x), object is root of all classes.

    In Python 3.x, "class Test(object)" and "class Test" are same.

In Python 2.x, "class Test(object)" creates a class with object as parent (called new style class) and "class Test" creates old style class (without object parent). Refer this for more details.

    Does Python support Multiple Inheritance? 
    
    Unlike Java and like C++, Python supports multiple inheritance. We specify all parent classes as comma separated list in bracket.

In [0]:

# Python example to show working of multiple 
# inheritance
class Base1(object):
  
    def __init__(self):
        self.str1 = "Geek1"
        print ("Base1")

class Base2(object):
    def __init__(self):
        self.str2 = "Geek2"        
        print ("Base2")

In [0]:
class Derived(Base1, Base2):
  
    def __init__(self):
        
        # Calling constructors of Base1
        # and Base2 classes
        Base1.__init__(self)
        Base2.__init__(self)
        print ("Derived")
        
    def printStrs(self):
        print(self.str1, self.str2)
       

ob = Derived()
ob.printStrs()

Base1
Base2
Derived
Geek1 Geek2

    How to access parent members in a subclass? 

    1. Using Parent class name 
    2. Using super()

In [0]:

# Python example to show that base
# class members can be accessed in
# derived class using base class name
class Base(object):

    # Constructor
    def __init__(self, x):
        self.x = x    

class Derived(Base):

    # Constructor
    def __init__(self, x, y):
        Base.x = x 
        self.y = y

    def printXY(self):
     
       # print(self.x, self.y) will also work
       print(Base.x, self.y)
       print(self.x, self.y)
       print(id(self.x),id(Base.x))


# Driver Code
d = Derived(10, 20)
d.printXY()

10 20
10 20
10914784 10914784

In [0]:

# Python example to show that base
# class members can be accessed in
# derived class using super()
class Base(object):

    # Constructor
    def __init__(self, x):
        self.x = x    

class Derived(Base):

    # Constructor
    def __init__(self, x, y):
        
        ''' In Python 3.x, "super().__init__(name)"
            also works''' 
        super(Derived, self).__init__(x)
        self.y = y

    def printXY(self):

       # Note that Base.x won't work here
       # because super() is used in constructor
       print(self.x, self.y)


# Driver Code
d = Derived(10, 20)
d.printXY()

10 20

    Note that the above two methods are not exactly the same. In the next article on inheritance, we will covering following topics.

    1) How super works? How accessing a member through super and parent class name are different?
    
    2) How Diamond problem is handled in Python?

 **Exercise:** Predict the output of following Python programs

In [0]:
 
class X(object):

    def __init__(self, a):
        self.num = a

    def doubleup(self):
        self.num *= 2

class Y(X):

    def __init__(self, a):
        X.__init__(self, a)

    def tripleup(self):
        self.num *= 3

obj = Y(4)
print(obj.num)

obj.doubleup()
print(obj.num)

obj.tripleup()
print(obj.num)

4
8
24

In [0]:

# Base or Super class
class Person(object):

    def __init__(self, name):
        self.name = name
        
    def getName(self):
        return self.name
    
    def isEmployee(self):
        return False

# Inherited or Subclass (Note Person in bracket)
class Employee(Person):
  
    def __init__(self, name, eid):

        ''' In Python 3.0+, "super().__init__(name)"
            also works''' 
        super(Employee, self).__init__(name)
        self.empID = eid
        
    def isEmployee(self):
        return True
        
    def getID(self):
        return self.empID

# Driver code
emp = Employee("Geek1", "E101") 
print(emp.getName(), emp.isEmployee(), emp.getID())

Geek1 True E101

#### Data hiding and Object Printing :

    In Python, we use double underscore (Or __) before the attributes name and those attributes will not be directly visible outside.

In [0]:

class MyClass:

    # Hidden member of MyClass
    __hiddenVariable = 0
  
    # A member method that changes 
    # __hiddenVariable 
    def add(self, increment):
        self.__hiddenVariable += increment
        print (self.__hiddenVariable)
 
# Driver code
myObject = MyClass()     
myObject.add(2)
myObject.add(5)

# This line causes error
print (myObject.__hiddenVariable)

2
7

AttributeError: ignored

In the above program, we tried to access hidden variable outside the class using object and it threw an exception.

We can access the value of hidden attribute by a tricky syntax:

In [0]:

# A Python program to demonstrate that hidden
# members can be accessed outside a class
class MyClass:

    # Hidden member of MyClass
    __hiddenVariable = 10

# Driver code
myObject = MyClass()     
print(myObject._MyClass__hiddenVariable)

10

Private methods are accessible outside their class, just not easily accessible. Nothing in Python is truly private; internally, the names of private methods and attributes are mangled and unmangled on the fly to make them seem inaccessible by their given names [See this for source :http://pages.cs.wisc.edu/~zeyuan/projects/notes/diveintopython/chap5.html ].

    Printing Objects

Printing objects gives us information about objects we are working with. In C++, we can do this by adding a friend ostream& operator << (ostream&, const Foobar&) method for the class. In Java, we use toString() method.

    In python this can be achieved by using __repr__ or __str__ methods.

In [0]:

class Test:
    def __init__(self, a, b):
        self.a = a
        self.b = b

    def __repr__(self):
        return "Test a:%s b:%s" % (self.a, self.b)

    def __str__(self):
        return "From str method of Test: a is %s," \
              "b is %s" % (self.a, self.b)

# Driver Code        
t = Test(1234, 5678)
print(t) # This calls __str__()
print([t]) # This calls __repr__()

From str method of Test: a is 1234,b is 5678
[Test a:1234 b:5678]

    If no __str__ method is defined, print t (or print str(t)) uses __repr__.

In [0]:
class Test:
    def __init__(self, a, b):
        self.a = a
        self.b = b

    def __repr__(self):
        return "Test a:%s b:%s" % (self.a, self.b)

# Driver Code        
t = Test(1234, 5678)
print(t)

Test a:1234 b:5678

    If no __repr__ method is defined then the default is used.

In [0]:
class Test:
    def __init__(self, a, b):
        self.a = a
        self.b = b

# Driver Code        
t = Test(1234, 5678)
print(t)

<__main__.Test object at 0x7fb80f63feb8>

#### class or static variables in python :

    Class or static variables are shared by all objects. Instance or non-static variables are different for different objects (every object has a copy of it).

  For example, let a Computer Science Student be represented by class CSStudent. The class may have a static variable whose value is "cse" for all objects. And class may also have non-static members like name and roll.

  In C++ and Java, we can use static keyword to make a variable as class variable. The variables which don't have preceding static keyword are instance variables. See this for Java example and this for C++ example.

    
  The Python approach is simple, it doesn't require a static keyword. All variables which are assigned a value in class declaration are class variables. And variables which are assigned values inside methods are instance variables.

In [0]:

# Python program to show that the variables with a value 
# assigned in class declaration, are class variables

# Class for Computer Science Student
class CSStudent:
    stream = 'cse'                  # Class Variable
    def __init__(self,name,roll):
        self.name = name            # Instance Variable
        self.roll = roll            # Instance Variable

# Objects of CSStudent class
a = CSStudent('Geek', 1)
b = CSStudent('Nerd', 2)

print(a.stream)  # prints "cse"
print(b.stream)  # prints "cse"
print(a.name)    # prints "Geek"
print(b.name)    # prints "Nerd"
print(a.roll)    # prints "1"
print(b.roll)    # prints "2"

# Class variables can be accessed using class
# name also
print(CSStudent.stream) # prints "cse"

cse
cse
Geek
Nerd
1
2
cse

####Garbage Collection in Python :

Python's memory allocation and deallocation method is automatic. The user does not have to preallocate or deallocate memory similar to using dynamic memory allocation in languages such as C or C++.
Python uses two strategies for memory allocation:

    Reference counting
    Garbage collection


Prior to Python version 2.0, the Python interpreter only used reference counting for memory management. Reference counting works by counting the number of times an object is referenced by other objects in the system. When references to an object are removed, the reference count for an object is decremented. When the reference count becomes zero, the object is deallocated. Ex-

In [0]:

# Literal 9 is an object
b = 9

# Reference count of object 9 
# becomes 0.
b = 4

The literal value 9 is an object. The reference count of object 9 is incremented to 1 in line 1. In line 2 its reference count becomes zero as it is dereferenced. So garbage collector deallocates the object.

    A reference cycle is created : 

when there is no way the reference count of the object can reach. Reference cycles involving lists, tuples, instances, classes, dictionaries, and functions are common. The easiest way to create a reference cycle is to create an object which refers to itself as in the example below:

In [0]:

def create_cycle():

    # create a list x
    x = [ ]

    # A reference cycle is created
    # here as x contains reference to
    # to self.
    x.append(x)
 
create_cycle()

Because create_cycle() creates an object x which refers to itself, the object x will not automatically be freed when the function returns. This will cause the memory that x is using to be held onto until the Python garbage collector is invoked.

    Ways to make an object eligible for garbage collection

In [0]:
x = []
x.append('l')
x.append(2)

# delete the list from memory or 
# assigning object x to None(Null)
del x 
# x = None

The reference count for the list created is now two. However, since it cannot be reached from inside Python and cannot possibly be used again, it is considered garbage. In the current version of Python, this list is never freed.

    Automatic Garbage Collection of Cycles
Because reference cycles take computational work to discover, garbage collection must be a scheduled activity. Python schedules garbage collection based upon a threshold of object allocations and object deallocations. When the number of allocations minus the number of deallocations is greater than the threshold number, the garbage collector is run. One can inspect the threshold for new objects (objects in Python known as generation 0 objects) by importing the gc module and asking for garbage collection thresholds:

In [0]:

# loading gc
import gc

# get the current collection 
# thresholds as a tuple
print("Garbage collection thresholds:",
                    gc.get_threshold())

Garbage collection thresholds: (700, 10, 10)

Here, the default threshold on the above system is 700. This means when the number of allocations vs. the number of deallocations is greater than 700 the automatic garbage collector will run. Thus any portion of your code which frees up large blocks of memory is a good candidate for running manual garbage collection.

    Manual Garbage Collection
Invoking the garbage collector manually during the execution of a program can be a good idea on how to handle memory being consumed by reference cycles.
The garbage collection can be invoked manually in the following way:

In [0]:
# Importing gc module
import gc

# Returns the number of
# objects it has collected
# and deallocated
collected = gc.collect()

# Prints Garbage collector 
# as 0 object
print("Garbage collector: collected",
          "%d objects." % collected)

Garbage collector: collected 902 objects.

    If few cycles are created, then how manual collection works:

In [0]:
import gc
i = 0 

# create a cycle and on each iteration x as a dictionary
# assigned to 1
def create_cycle():
    x = { }
    x[i+1] = x
    print (x)

# lists are cleared whenever a full collection or 
# collection of the highest generation (2) is run
collected = gc.collect() # or gc.collect(2)
print ("Garbage collector: collected %d objects." % (collected))

print ("Creating cycles...")
for i in range(10):
    create_cycle()

collected = gc.collect()

print ("Garbage collector: collected %d objects." % (collected))

Garbage collector: collected 45 objects.
Creating cycles...
{1: {...}}
{2: {...}}
{3: {...}}
{4: {...}}
{5: {...}}
{6: {...}}
{7: {...}}
{8: {...}}
{9: {...}}
{10: {...}}
Garbage collector: collected 10 objects.

There are two ways for performing manual garbage collection: time-based and event-based garbage collection.

    1.Time-based garbage collection is simple: 
    the garbage collector is called after a fixed time interval.
 
    2.Event-based garbage collection :
    calls the garbage collector on event occurrence. For example, 
    when a user  exits the application or when the application enters into idle state.

    Reference:https://docs.python.org/2/library/gc.html

####Python Lambda, map , reduce :

In Python, anonymous function means that a function is without a name. As we already know that def keyword is used to define the normal functions and the lambda keyword is used to create anonymous functions. It has the following syntax:

    lambda arguments: expression

    1. This function can have any number of arguments but only one expression, which is evaluated and returned.

    2. One is free to use lambda functions wherever function objects are required.
    
    3. You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.

    4. It has various uses in particular fields of programming besides other types of expressions in functions.

Let's look at this example and try to understand the difference between a normal def defined function and lambda function. This is a program that returns the cube of a given value:

In [0]:

# Python code to illustrate cube of a number 
# showing difference between def() and lambda().
def cube(y):
    return y*y*y;

g = lambda x: x*x*x
print(g(7))

print(cube(5))

343
125


  Without using Lambda : Here, both of them returns the cube of a given number. But, while using def, we needed to define a function with a name cube and needed to pass a value to it. After execution, we also needed to return the result from where the function was called using the return keyword.
    

  Using Lambda : Lambda definition does not include a "return" statement, it always contains an expression which is returned. We can also put a lambda definition anywhere a function is expected, and we don't have to assign it to a variable at all. This is the simplicity of lambda functions.

    Lambda functions can be used along with built-in functions like filter(), map() and reduce().

    Use of lambda() with filter()

The filter() function in Python takes in a function and a list as arguments. This offers an elegant way to filter out all the elements of a sequence "sequence", for which the function returns True. Here is a small program that returns the odd numbers from an input list:

In [0]:

# Python code to illustrate
# filter() with lambda()
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
final_list = list(filter(lambda x: (x%2 != 0) , li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

    Use of lambda() with map()
    
The map() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item. Example:

In [0]:

# Python code to illustrate 
# map() with lambda() 
# to get double of a list.
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
final_list = list(map(lambda x: x*2 , li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

    Use of lambda() with reduce()

  The reduce() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new reduced result is returned. This performs a repetitive operation over the pairs of the list. 
  
    This is a part of functools module. Example:

In [0]:

# Python code to illustrate 
# reduce() with lambda()
# to get sum of a list
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print (sum)

193

In [0]:
#above code with map, filter and lambda 
  
# Declare a list  
x = [2, 3, 4, 5, 6]

# Perform the same operation as  in above post 
y = map(lambda v : v * 5, filter(lambda u : u % 2, x)) 
y = list(y)
print(y)

[15, 25]

###Module 5 : Lists:

####Python Lists

Lists are just like dynamic sized arrays, declared in other languages (vector in C++ and ArrayList in Java). Lists need not be homogeneous always which makes it a most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

List in Python are ordered and have a definite count. The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index. Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.

Note- Lists are a useful tool for preserving a sequence of data and further iterating over it.

#####Creating a List

 Lists in Python can be created by just placing the sequence inside the square brackets[]. Unlike Sets, list doesn't need a built-in function for creation of list.

In [0]:
# Python program to demonstrate 
# Creation of List 

# Creating a List
List = []
print("Blank List: ")
print(List)

# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0]) 
print(List[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'] , ['Geeks']]
print("\nMulti-Dimensional List: ")
print(List)

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Geeks
Geeks

Multi-Dimensional List:
[['Geeks', 'For'], ['Geeks']]

    Creating a list with multiple distinct or duplicate elements
A list may contain duplicate values with their distinct positions and hence, multiple distinct or duplicate values can be passed as a sequence at the time of list creation.

    Knowing the size of List

In [0]:
# Creating a List
List1 = []
print(len(List1))

# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

#####Adding Elements to a List

**Using append() method**

Elements can be added to the List by using built-in append() function. Only one element at a time can be added to the list by using append() method, for addition of multiple elements with the append() method, loops are used. Tuples can also be added to the List with the use of append method because tuples are immutable. Unlike Sets, Lists can also be added to the existing list with the use of append() method.

In [0]:

# Python program to demonstrate 
# Addition of elements in a List

# Creating a List
List = []
print("Initial blank List: ")
print(List)

# Addition of Elements 
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

# Adding elements to the List
# using Iterator
for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)

# Addition of List to a List
List2 = ['For', 'Geeks']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'Geeks']]

    Using insert() method

append() method only works for addition of elements at the end of the List, for addition of element at the desired position, insert() method is used. Unlike append() which takes only one argument, insert() method requires two arguments(position, value).

In [0]:
# Python program to demonstrate 
# Addition of elements in a List
 
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of Element at 
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

    Using extend() method
Other than append() and insert() methods, there's one more method for Addition of elements, extend(), this method is used to add multiple elements at the same time at the end of the list.

In [0]:

# Python program to demonstrate 
# Addition of elements in a List
  
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of multiple elements
# to the List at the end
# (using Extend Method)
List.extend([8, 'Geeks', 'Always'])
print("\nList after performing Extend Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'Geeks', 'Always']

#####Accessing elements from the List

In order to access the list items refer to the index number.Use the index operator [ ] to access an item in a list.The index must be an integer.Nested list are accessed using nested indexing.

In [0]:
# Python program to demonstrate 
# accessing of element from list

# Creating a List with
# the use of multiple values
List = ["Geeks", "For", "Geeks"]

# accessing a element from the 
# list using index number
print("Accessing a element from the list")
print(List[0]) 
print(List[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'] , ['Geeks']]

# accessing a element from the 
# Multi-Dimensional List using
# index number
print("Acessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

Accessing a element from the list
Geeks
Geeks
Acessing a element from a Multi-Dimensional list
For
Geeks

Negative indexing
In Python, negative sequence indexes represent positions from the end of the array. Instead of having to compute the offset as in List[len(List)-3], it is enough to just write List[-3]. Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [0]:
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

# accessing a element using
# negative indexing
print("Acessing element using negative indexing")

# print the last element of list
print(List[-1])

# print the third last element of list 
print(List[-3])

Acessing element using negative indexing
Geeks
For

#####Removing Elements from the List

    Using remove() method
Elements can be removed from the List by using built-in remove() function but an Error arises if element doesn't exist in the set. Remove() method only removes one element at a time, to remove range of elements, iterator is used. The remove() method removes the specified item.

Note - Remove method in List will only remove the first occurrence of the searched element.

In [0]:
# Python program to demonstrate 
# Removal of elements in a List

# Creating a List
List = [1, 2, 3, 4, 5, 6, 
        7, 8, 9, 10, 11, 12]
print("Intial List: ")
print(List)

# Removing elements from List
# using Remove() method
List.remove(5)
List.remove(6)
print("\nList after Removal of two elements: ")
print(List)

# Removing elements from List
# using iterator method
for i in range(1, 5):
    List.remove(i)
print("\nList after Removing a range of elements: ")
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

    Using pop() method
Pop() function can also be used to remove and return an element from the set, but by default it removes only the last element of the set, to remove element from a specific position of the List, index of the element is passed as an argument to the pop() method.

In [0]:
List = [1,2,3,4,5]

# Removing element from the 
# Set using the pop() method
List.pop()
print("\nList after popping an element: ")
print(List)

# Removing element at a 
# specific location from the 
# Set using the pop() method
List.pop(2)
print("\nList after popping a specific element: ")
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

    del() : Element to be deleted is mentioned using list name and index.
Syntax:

del list.[index]

In [0]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
del List[0]
print(List)

[4.445, 3, 5.33, 1.054, 2.5]

#####Slicing of a List

In Python List, there are multiple ways to print the whole List with all the elements, but to print a specific range of elements from the list, we use Slice operation. 

Slice operation is performed on Lists with the use of colon(:). 

    To print elements from beginning to a range use [:Index], 
    
    To print elements from end use [:-Index], 
    
    To print elements from specific Index till the end use [Index:], 
    
    To print elements within a range, use [Start Index:End Index] and 

    To print whole List with the use of slicing operation, use [:].

    Further, to print whole List in reverse order, use [::-1].

    Note - To print elements of List from rear end, use Negative Indexes.

![alt text](https://drive.google.com/uc?id=1-DDG8r3ohBo81MNk98z70_ptJcngffMI)

In [0]:

# Python program to demonstrate 
# Removal of elements in a List

# Creating a List
List = ['G','E','E','K','S','F',
        'O','R','G','E','E','K','S']
print("Intial List: ")
print(List)

# Print elements of a range
# using Slice operation
Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

# Print elements from a 
# pre-defined point to end
Sliced_List = List[5:]
print("\nElements sliced from 5th "
      "element till the end: ")
print(Sliced_List)

# Printing elements from
# beginning till end
Sliced_List = List[:]
print("\nPrinting all elements using slice operation: ")
print(Sliced_List)

Intial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Slicing elements in a range 3-8:
['K', 'S', 'F', 'O', 'R']

Elements sliced from 5th element till the end:
['F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Printing all elements using slice operation:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

    Negative index list slicing :

In [0]:

# Creating a List
List = ['G','E','E','K','S','F',
        'O','R','G','E','E','K','S']
print("Initial List: ")
print(List)

# Print elements from beginning
# to a pre-defined point using Slice
Sliced_List = List[:-6]
print("\nElements sliced till 6th element from last: ")
print(Sliced_List)

# Print elements of a range
# using negative index List slicing
Sliced_List = List[-6:-1]
print("\nElements sliced from index -6 to -1")
print(Sliced_List)

# Printing elements in reverse
# using Slice operation
Sliced_List = List[::-1]
print("\nPrinting List in reverse: ")
print(Sliced_List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Elements sliced till 6th element from last:
['G', 'E', 'E', 'K', 'S', 'F', 'O']

Elements sliced from index -6 to -1
['R', 'G', 'E', 'E', 'K']

Printing List in reverse:
['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

============================ LIST METHODS ===========================

```
Append() 	Add an element to the end of the list
Extend() 	Add all elements of a list to the another list
Insert() 	Insert an item at the defined index
Remove() 	Removes an item from the list
Pop() 	Removes and returns an element at the given index
Clear() 	Removes all items from the list
Index() 	Returns the index of the first matched item
Count() 	Returns the count of number of items passed as an argument
Sort() 	Sort items in a list in ascending order
Reverse() 	Reverse the order of items in the list
copy() 	Returns a copy of the list
```

============================ LIST INBUILD METHODS ===========================

```
reduce() 	apply a particular function passed in its argument to all of the list elements stores the intermediate result and only returns the final summation value
sum() 	Sums up the numbers in the list
ord() 	Returns an integer representing the Unicode code point of the given Unicode character
cmp() 	This function returns 1, if first list is “greater” than second list
max() 	return maximum element of given list
min() 	return minimum element of given list
all() 	Returns true if all element are true or if list is empty
any() 	return true if any element of the list is true. if list is empty, return false
len() 	Returns length of the list or size of the list
enumerate() 	Returns enumerate object of list
accumulate() 	apply a particular function passed in its argument to all of the list elements returns a list containing the intermediate results
filter() 	tests if each element of a list true or not
map() 	returns a list of the results after applying the given function to each item of a given iterable
lambda() 	This function can have any number of arguments but only one expression, which is evaluated and returned.
```

####List Methods :

1. "in" operator :- This operator is used to check if an element is present in the list or not. Returns true if element is present in list else returns false.

2. "not in" operator :- This operator is used to check if an element is not present in the list or not. Returns true if element is not present in list else returns false.

In [0]:
# Python code to demonstrate the working of
# "in" and "not in" 
# initializing list
lis = [1, 4, 3, 2, 5]

# checking if 4 is in list using "in"
if 4 in lis:
        print ("List is having element with value 4")
else :  print ("List is not having element with value 4")

# checking if 4 is not list using "not in"
if 4 not in lis:
        print ("List is not having element with value 4")
else :  print ("List is having element with value 4")

List is having element with value 4
List is having element with value 4

3. len() :- This function returns the length of list.

4. min() :- This function returns the minimum element of list.

5. max() :- This function returns the maximum element of list.

In [0]:
# Python code to demonstrate the working of
# len(), min() and max()
# initializing list 1
lis = [2, 1, 3, 5, 4]

# using len() to print length of list
print ("The length of list is : ", end="")
print (len(lis))

# using min() to print minimum element of list
print ("The minimum element of list is : ", end="")
print (min(lis))

# using max() to print maximum element of list
print ("The maximum element of list is : ", end="")
print (max(lis))

The length of list is : 5
The minimum element of list is : 1
The maximum element of list is : 5

6. "+" operator :- This operator is used to concatenate two lists into a single list.

7. "*" operator :- This operator is used to multiply the list "n" times and return the single list.

In [0]:
# Python code to demonstrate the working of
# "+" and "*"
# initializing list 1
lis = [1, 2, 3]

# initializing list 2
lis1 = [4, 5, 6]

# using "+" to concatenate lists
lis2= lis + lis1

# priting concatenated lists
print ("list after concatenation is : ", end="")
for i in range(0,len(lis2)):
         print (lis2[i], end=" ")
         
print ("\r")

#using '*' to combine lists 
lis3 = lis * 3

# priting combined lists
print ("list after combining is : ", end="")
for i in range(0,len(lis3)):
         print (lis3[i], end=" ")

list after concatenation is : 1 2 3 4 5 6
list after combining is : 1 2 3 1 2 3 1 2 3

8. index(ele, beg, end) :- This function returns the index of first occurrence of element after beg and before end.

9. count() :- This function counts the number of occurrences of elements in list.

In [0]:
# Python code to demonstrate the working of
# index() and count()
# initializing list 1
lis = [2, 1, 3, 5, 4, 3]

# using index() to print first occurrence of 3
# prints 5
print ("The first occurrence of 3 after 3rd position is : ", end="")
print (lis.index(3, 3, 6))

# using count() to count number of occurrence of 3
print ("The number of occurrences of 3 is : ", end="")
print (lis.count(3))

The first occurrence of 3 after 3rd position is : 5
The number of occurrences of 3 is : 2

#### List Methods in Python Set 2

sum() : Calculates sum of all the elements of List.
Syntax:

 sum(List)

 Note : Sum is calculated only for Numeric values, elsewise throws TypeError.

In [0]:
List = [1, 2, 3, 4, 5]
print(sum(List))

15

    reverse(): 
    
Sort the given data structure (both tuple and list) in ascending order. Key and reverse_flag are not necessary parameter and reverse_flag is set to False, if nothing is passed through sorted().
Syntax:

In [0]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]

#Reverse flag is set True
List.sort(reverse = True) 

#List.sort().reverse(), reverses the sorted list  
print(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

In [0]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
sorted(List)
print(List)

[2.3, 4.445, 3, 5.33, 1.054, 2.5]

####Sorting a list according to the length of the elements:

In this program, we need to accept a list and sort it based on the length of the elements present within.
Examples:


```
Input : list = ["rohan", "amy", "sapna", "muhammad",
                "aakash", "raunak", "chinmoy"]
Output : ['amy', 'rohan', 'sapna', 'aakash', 'raunak', 
         'chinmoy', 'muhammad']

Input : list = [["ram", "mohan", "aman"], ["gaurav"], 
                 ["amy", "sima", "ankita", "rinku"]]
Output : [['gaurav'], ['ram', 'mohan', 'aman'], 
          ['amy', 'sima', 'ankita', 'rinku']]

Note: The first example comprises of Strings whose 
length can be calculated. The second example comprises 
of sublists, which is also arranged according to there 
length. 

```

There are many ways of performing this. Anyone can use there own algorithmic technique, but Python provides us with various built-in functions to perform these. The built-in functions include **sort()** and **sorted()** along with the key parameter. We can perform these in two ways. One way is to sort the list by creating a new list and another way is to sort within the given list, saving space.

```
The syntax for sorting by creating a new list is:

sorted_list = sorted(unsorted_list, key=len) 
```

In [0]:
# Python code to sort a list by creating 
# another list Use of sorted()
def Sorting(lst):
    lst2 = sorted(lst, key=len)
    return lst2
    
# Driver code
lst = ["rohan", "amy", "sapna", "muhammad", 
       "aakash", "raunak", "chinmoy"]
print(Sorting(lst))

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

```
 The syntax for sorting without creating a new list is:

unsorted_list.sort(key=len)
```

In [0]:
# Python code to sort a list without 
# creating another list Use of sort()
def Sorting(lst):
    lst.sort(key=len)
    return lst
    
# Driver code
lst = ["rohan", "amy", "sapna", "muhammad", 
       "aakash", "raunak", "chinmoy"]
print(Sorting(lst))

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

Working: These key function of Python's while sorting implemented is known as the decorate-sort-undecorate design pattern. It follows the following steps:

    1.Each element of the list is temporarily replaced with a “decorated” 
    version that includes the result of the key function applied to the element.
    2.The list is sorted based upon the natural order of the keys.
    3.The decorated elements are replaced by the original elements.

In [0]:

import numpy

def Sorting(lst):

    # list for storing the length of each string in list 
    lenlist=[]   
    for x in lst:
         lenlist.append(len(x))     

    # return a list with the index of the sorted
    # items in the list
    sortedindex = numpy.argsort(lenlist)  

    # creating a dummy list where we will place the 
    # word according to the sortedindex list 
    lst2 = ['dummy']*len(lst)   

    # print(sortedindex,lenlist)
    for i in range(len(lst)):    

        # placing element in the lst2 list by taking the
        # value from original list lst where it should belong 
        # in the sorted list by taking its index from sortedindex
        lst2[i] = lst[sortedindex[i]]     
                                        
    return lst2
    
# Driver code
lst = ["rohan", "amy", "sapna", "muhammad", 
       "aakash", "raunak", "chinmoy"]
print(Sorting(lst))

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

####Union of two or more Lists:

Union of a list means, we must take all the elements from list A and list B (there can be more than two lists) and put them inside a single new list. There are various orders in which we can combine the lists. For e.g., we can maintain the repetition and order or remove the repeated elements in the final list and so on.
Examples

    Maintained repetition only

Input : 

lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]

lst2 = [2, 48, 15, 12, 26, 32, 47, 54]

Output :
[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 
15, 12, 26, 32, 47, 54]

    Maintained repetition and order

Input : 

lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]

lst2 = [2, 48, 15, 12, 26, 32, 47, 54]

Output :
[2, 2, 12, 14, 14, 15, 15, 16, 20, 23, 
26, 32, 47, 48, 52, 54]

    Without repetition

Input : 

lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]

lst2 = [2, 48, 15, 12, 26, 32, 47, 54]

Output :
[32, 2, 12, 14, 15, 16, 48, 47, 20, 52, 54, 23, 26]

    Union of three lists

Input :

lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]

lst2 = [2, 48, 15, 12, 26, 32, 47, 54]

lst3 = [4, 78, 5, 6, 9, 25, 64, 32, 59]

Output :

[32, 64, 2, 4, 5, 6, 9, 12, 14, 15, 16, 
48, 47, 78, 20, 52, 54, 23, 25, 26, 59]

    Maintaining Repetition

 We can simply use the plus "+" operator inorder to combine two list into one. This will reflect the repetition.

In [0]:
# Python program to illustrate union
# Maintained repetition 
def Union(lst1, lst2):
    final_list = lst1 + lst2
    return final_list

# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
print(Union(lst1, lst2))

[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 15, 12, 26, 32, 47, 54]

    Maintaining both Repetition and Order
To maintain the order of appearance in the new list we need to use the sorted() function, passing the addition of two lists(plus operated, as in the previous problem) as parameters.

In [0]:
# Python program to illustrate union
# Maintained repetition and order 
def Union(lst1, lst2):
    final_list = sorted(lst1 + lst2)
    return final_list

# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
print(Union(lst1, lst2))

[2, 2, 12, 14, 14, 15, 15, 16, 20, 23, 26, 32, 47, 48, 52, 54]

    Without Repetition
To get rid of all the repetitive elements from the initial list, we use the set() function on both the lists, individually. Then we add them using the "+" operator and pass as a new list.

In [0]:
# Python program to illustrate union
# Without repetition 
def Union(lst1, lst2):
    final_list = list(set(lst1) | set(lst2))
    return final_list

# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
print(Union(lst1, lst2))

[32, 2, 12, 14, 15, 16, 48, 47, 20, 52, 54, 23, 26]

    More than two lists

We can also make an union of more than two lists. This can be done efficiently by using both the set() and union() function, simultaneously, as shown in the below example. This also takes care of the repetition and prevents them.

In [0]:
# Python program to illustrate union
# Union of three lists
def Union(lst1, lst2, lst3):
    final_list = list(set().union(lst1, lst2, lst3))
    return final_list

# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
lst3 = [4, 78, 5, 6, 9, 25, 64, 32, 59]
print(Union(lst1, lst2, lst3))

[2, 4, 5, 6, 9, 12, 14, 15, 16, 20, 23, 25, 26, 32, 47, 48, 52, 54, 59, 64, 78]

####Intersection of Two Lists :

Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Now there are various ways in Python, through which we can perform the Intersection of the lists.
Examples:

```

Input : 

lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]

lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]

Output :

[9, 10, 4, 5]

Input :

lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]

lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]

Output :

[9, 11, 26, 28]

```

    Method 1: This is the simplest method where we haven't used any built-in functions.

In [0]:
# Python program to illustrate the intersection
# of two lists in most simple way
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

# Driver Code
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
print(intersection(lst1, lst2))

[9, 11, 26, 28]

    Method 2: This method includes the use of set() method.

In [0]:
# Python program to illustrate the intersection
# of two lists using set() method
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

# Driver Code
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]
print(intersection(lst1, lst2))

[9, 10, 4, 5]

    Method 3: In this method we set() the larger list and 
    then use the built-in function called interscetion() 
    to compute the intersected list. intersection() is a 
    first-class part of set.

In [0]:
# Python program to illustrate the intersection
# of two lists using set() and intersection()
def Intersection(lst1, lst2):
    return set(lst1).intersection(lst2)
    
# Driver Code
lst1 = [ 4, 9, 1, 17, 11, 26, 28, 28, 26, 66, 91]
lst2 = [9, 9, 74, 21, 45, 11, 63]
print(Intersection(lst1, lst2))

{9, 11}

    Method 4: By the use of this hybrid method the complexity 
    of the program falls to O(n). This is an efficient way of 
    doing the following program.

In [0]:
# Python program to illustrate the intersection
# of two lists
def intersection(lst1, lst2):

    # Use of hybrid method
    temp = set(lst2)
    lst3 = [value for value in lst1 if value in temp]
    return lst3

# Driver Code
lst1 = [9, 9, 74, 21, 45, 11, 63]
lst2 = [4, 9, 1, 17, 11, 26, 28, 28, 26, 66, 91]
print(intersection(lst1, lst2))

[9, 9, 11]

    Method 5: This is the where the intersection is performed 
    over sub-lists inside other lists. Here we have used the 
    concept of filter().

In [0]:
# Python program to illustrate the intersection
# of two lists, sublists and use of filter()

def intersection(lst1, lst2):
    lst3 = [list(filter(lambda x: x in lst1, sublist)) for sublist in lst2]
    return lst3

# Driver Code
lst1 = [1, 6, 7, 10, 13, 28, 32, 41, 58, 63]
lst2 = [[13, 17, 18, 21, 32], [7, 11, 13, 14, 28], [1, 5, 6, 8, 15, 16]]
print(intersection(lst1, lst2))

[[13, 32], [7, 13, 28], [1, 6]]

    Working: The filter part takes each sublist's item and 
    checks to see if it is in the source list. The list 
    comprehension is executed for each sublist in list2.

####Stack and Queues in Python :

Unlike C++ STL and Java Collections, Python does have specific classes/interfaces for Stack and Queue. Following are different ways to implement in Python

***1)Using list Stack***:

works on the principle of "Last-in, first-out". Also, the inbuilt functions in Python make the code short and simple. To add an item to the top of the list, i.e., to push an item, we use append() function and to pop out an element we use pop() function. These functions work quiet efficiently and fast in end operations.

Let's look at an example and try to understand the working of push() and pop() function:

In [0]:
# Python code to demonstrate Implementing 
# stack using list
stack = ["Amar", "Akbar", "Anthony"]
stack.append("Ram")
stack.append("Iqbal")
print(stack)

# Removes the last item
print(stack.pop())

print(stack)

# Removes the last item
print(stack.pop())

print(stack)

['Amar', 'Akbar', 'Anthony', 'Ram', 'Iqbal']
Iqbal
['Amar', 'Akbar', 'Anthony', 'Ram']
Ram
['Amar', 'Akbar', 'Anthony']

    Queue works on the principle of "First-in, first-out". 
    Below is list implementation of queue. We use pop(0) 
    to remove the first item from a list.

In [0]:

# Python code to demonstrate Implementing 
# Queue using list
queue = ["Amar", "Akbar", "Anthony"]
queue.append("Ram")
queue.append("Iqbal")
print(queue)

# Removes the first item
print(queue.pop(0))

print(queue)

# Removes the first item
print(queue.pop(0))

print(queue)

['Amar', 'Akbar', 'Anthony', 'Ram', 'Iqbal']
Amar
['Akbar', 'Anthony', 'Ram', 'Iqbal']
Akbar
['Anthony', 'Ram', 'Iqbal']

***2) Using Deque***

 In case of stack, list implementation works fine and provides both append() and pop() in O(1) time. When we use deque implementation, we get same time complexity.

In [0]:
# Python code to demonstrate Implementing 
# Stack using deque
from collections import deque
queue = deque(["Ram", "Tarun", "Asif", "John"])
print(queue)
queue.append("Akbar")
print(queue)
queue.append("Birbal")
print(queue)
print(queue.pop())                 
print(queue.pop())                 
print(queue)

deque(['Ram', 'Tarun', 'Asif', 'John'])
deque(['Ram', 'Tarun', 'Asif', 'John', 'Akbar'])
deque(['Ram', 'Tarun', 'Asif', 'John', 'Akbar', 'Birbal'])
Birbal
Akbar
deque(['Ram', 'Tarun', 'Asif', 'John'])

But when it comes to queue, the above list implementation is not efficient. In queue when pop() is made from the beginning of the list which is slow. This occurs due to the properties of list, which is fast at the end operations but slow at the beginning operations, as all other elements have to be shifted one by one.
So, we prefer the use of queue over list, which was specially designed to have fast appends and pops from both the front and back end.

 Let's look at an example and try to understand queue using collections.deque:

In [0]:
# Python code to demonstrate Implementing 
# Queue using deque
from collections import deque
queue = deque(["Ram", "Tarun", "Asif", "John"])
print(queue)
queue.append("Akbar")
print(queue)
queue.append("Birbal")
print(queue)
print(queue.popleft())                 
print(queue.popleft())                 
print(queue)

deque(['Ram', 'Tarun', 'Asif', 'John'])
deque(['Ram', 'Tarun', 'Asif', 'John', 'Akbar'])
deque(['Ram', 'Tarun', 'Asif', 'John', 'Akbar', 'Birbal'])
Ram
Tarun
deque(['Asif', 'John', 'Akbar', 'Birbal'])

####Numbers in a list within a given Range :

    Given a list, print the number of numbers in the given range.


    Examples:

    Input : [10, 20, 30, 40, 50, 40, 40, 60, 70] range: 40-80
    Output : 6

    Input : [10, 20, 30, 40, 50, 40, 40, 60, 70] range: 10-40
    Output : 4

    Multiple Line Approach:

    1.Traverse in the list and check for every number. 
    2.If the number lies in the specified range, then increase the counter. 
    3.At the end of traversal, the value of the counter will be the 
    answer for the number of numbers in specified range.

Below is the Python implementation of the above approac

In [0]:
# Python program to count the 
# number of numbers in a given range
# using traversal and mutliple line code

def count(list1, l, r):
    c = 0 
    # traverse in the list1
    for x in list1:
        # condition check
        if x>= l and x<= r:
            c+= 1 
    return c
    
# driver code
list1 = [10, 20, 30, 40, 50, 40, 40, 60, 70]
l = 40
r = 80 
print (count(list1, l, r))

6

    Single Line Approach:
We can write a single line for traversal and checking condition together:

    x for x in list1 if l <= x <= r


The return value(true) of the condition check is stored in a list, and at the end the length of the list returns the answer.

Below is the Python implementation of the above approach

In [0]:
# Python program to count the 
# number of numbers in a given range

def count(list1, l, r):
    
    # x for x in list1 is same as traversal in the list
    # the if condition checks for the number of numbers in the range 
    # l to r 
    # the return is stored in a list
    # whose length is the answer
    return len( list(x for x in list1 if x >= l and x <=r))

# driver code
list1 = [10, 20, 30, 40, 50, 40, 40, 60, 70]
l = 40
r = 80 
print (count(list1, l, r))

6

####Intersection of two Arrays in Python :

Given two arrays, find their intersection.

    Examples:

    Input:  
    arr1[] = [1, 3, 4, 5, 7]
    arr2[] = [2, 3, 5, 6]

    Output: 
    Intersection : [3, 5]

We have existing solution for this problem please refer Intersection of two list link. We will solve this problem quickly in python using Lambda expression and filter() function.

In [0]:
# Function to find intersection of two arrays

def interSection(arr1,arr2):

     # filter(lambda x: x in arr1, arr2)  -->
     # filter element x from list arr2 where x
     # also lies in arr1
     result = list(filter(lambda x: x in arr1, arr2)) 
     print ("Intersection : ",result)

# Driver program
if __name__ == "__main__":
    arr1 = [1, 3, 4, 5, 7]
    arr2 = [2, 3, 5, 6]
    interSection(arr1,arr2)

####Python Tuple:

Tuple is a collection of Python objects much like a list. The sequence of values stored in a tuple can be of any type, and they are indexed by integers.
Values of a tuple are syntactically separated by 'commas'. Although it is not necessary, it is more common to define a tuple by closing the sequence of values in parentheses. This helps in understanding the Python tuples more easily.

#####Creating a Tuple

In Python, tuples are created by placing sequence of values separated by 'comma' with or without the use of parentheses for grouping of data sequence.

Note - Creation of Python tuple without the use of parentheses is known as Tuple Packing.
Python program to demonstrate addition of elements in a set.

In [0]:
#Creating an empty Tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print (Tuple1)

#Creatting a Tuple 
#with the use of string
Tuple1 = ('Geeks', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)

# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

#Creating a Tuple 
#with the use of built-in function
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

#####Creating a Tuple with Mixed Datatypes.

Tuples can contain any number of elements and of any datatype (like strings, integers, list, etc.). Tuples can also be created with a single element, but it is a bit tricky. Having one element in the parentheses is not sufficient, there must be a trailing 'comma' to make it a tuple.

In [0]:
#Creating a Tuple
#with Mixed Datatype
Tuple1 = (5, 'Welcome', 7, 'Geeks')
print("\nTuple with Mixed Datatypes: ")
print(Tuple1)

Tuple with Mixed Datatypes:
(5, 'Welcome', 7, 'Geeks')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

In [0]:
#Creating a Tuple
#with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

In [0]:
#Creating a Tuple
#with repetition
Tuple1 = ('Geeks',) * 3
print("\nTuple with repetition: ")
print(Tuple1)

Tuple with repetition:
('Geeks', 'Geeks', 'Geeks')

In [0]:
#Creating a Tuple 
#with the use of loop

Tuple1 = ('Geeks')
n = 5
print("\nTuple with a loop")

for i in range(int(n)):
    Tuple1 = (Tuple1,)
    print(Tuple1)

Tuple with a loop
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

#####Accessing of Tuples

Tuples are immutable, and usually, they contain a sequence of heterogeneous elements that are accessed via unpacking or indexing (or even by attribute in the case of named tuples). Lists are mutable, and their elements are usually homogeneous and are accessed by iterating over the list.

    NOTE : In unpacking of tuple number of variables on left hand side should be equal to number of values in given tuple a.

In [0]:
#Accessing Tuple
#with Indexing
Tuple1 = tuple("Geeks")
print("\nFirst element of Tuple: ")
print(Tuple1[1])

First element of Tuple:
e

In [0]:
#Tuple unpacking

Tuple1 = ("Geeks", "For", "Geeks")

#This line unpack 
#values of Tuple1
a, b, c = Tuple1
print("\nValues after unpacking: ")
print(a)
print(b)
print(c)

Values after unpacking:
Geeks
For
Geeks

####Concatenation of Tuples:

Concatenation of tuple is the process of joining of two or more Tuples.

    Concatenation is done by the use of '+' operator. Concatenation of 
    tuples is done always from the end of the original tuple. 
    Other arithmetic operations do not apply on Tuples.

Note- Only same datatypes can be combined with concatenation, an error arises if a list and a tuple are combined.

In [0]:
# Concatenaton of tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Geeks', 'For', 'Geeks')

Tuple3 = Tuple1 + Tuple2

# Printing first Tuple
print("Tuple 1: ")
print(Tuple1)

# Printing Second Tuple
print("\nTuple2: ")
print(Tuple2)

# Printing Final Tuple
print("\nTuples after Concatenaton: ")
print(Tuple3)

Tuple 1:
(0, 1, 2, 3)

Tuple2:
('Geeks', 'For', 'Geeks')

Tuples after Concatenaton:
(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

#####Slicing of Tuple :

Slicing of a Tuple is done to fetch a specific range or slice of sub-elements from a Tuple. Slicing can also be done to lists and arrays. Indexing in a list results to fetching a single element whereas Slicing allows to fetch a set of elements.
Note- Negative Increment values can also be used to reverse the sequence of Tuples

In [0]:
# Slicing of a Tuple

# Slicing of a Tuple
# with Numbers
Tuple1 = tuple('GEEKSFORGEEKS')

# Removing First element
print("Removal of First Element: ")
print(Tuple1[1:])

# Reversing the Tuple 
print("\nTuple after sequence of Element is reversed: ")
print(Tuple1[::-1])

# Printing elements of a Range
print("\nPrinting elements between Range 4-9: ")
print(Tuple1[4:9])

Removal of First Element:
('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')

Tuple after sequence of Element is reversed:
('S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G')

Printing elements between Range 4-9:
('S', 'F', 'O', 'R', 'G')

#####Deleting a Tuple
    Tuples are immutable and hence they do not allow deletion of 
    a part of it. Entire tuple gets deleted by the use of del() method.

    Note- Printing of Tuple after deletion results to an Error.

In [0]:
# Deleting a Tuple

Tuple1 = (0, 1, 2, 3, 4)
del Tuple1

print(Tuple1)

NameError: ignored

Built-In Methods: 

```
all() 	Returns true if all element are true or if tuple is empty
any() 	return true if any element of the tuple is true. if tuple is empty, return false
len() 	Returns length of the tuple or size of the tuple
enumerate() 	Returns enumerate object of tuple
max() 	return maximum element of given tuple
min() 	return minimum element of given tuple
sum() 	Sums up the numbers in the tuple
sorted() 	input elements in the tuple and return a new sorted list
tuple() 	Convert an iterable to a tuple
```

####Count Occurences of an Element in list :

Given a list in Python and a number x, count number of occurrences of x in the given list.

    Examples:

    Input : 
    lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
    x = 10

    Output : 3 
    10 appears three times in given list.

    Input : 
    lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
    x = 16
    
    Output : 0

    Method 1 (Simple approach) We keep a counter that keeps on increasing if the esquired element is found in the list.

In [0]:
# Python code to count the number of occurrences
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count

# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times

    Method 2 (Using count()) The idea is to use list method count() to count number of occurrences.

In [0]:
# Python code to count the number of occurrences
def countX(lst, x):
    return lst.count(x)

# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times

    Method 2 (Using Counter()) Counter method returns a dictionary 
    with occurrences of all elements as a key-value pair, where key 
    is the element and value is the number of times that element has occurred.

In [0]:
from collections import Counter

# declaring the list
l = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

# driver program
x = 3
d = Counter(l)
print('{} has occurred {} times'.format(x, d[x]))

3 has occurred 2 times

####Sort Tuples in Increasing Order by any Key :

Given a tuple, sort the list of tuples in increasing order by any key in tuple.

    Examples:

    Input : 
    tuple = [(2, 5), (1, 2), (4, 4), (2, 3)] 
    m = 0
    Output :
    [(1, 2), (2, 3), (2, 5), (4, 4)]

    Explanation: Sorted using the 0th index key.

    Input :  
    tuple = [(23, 45, 20), (25, 44, 39), (89, 40, 23)]
    m = 2

    Output : 
    Sorted: [(23, 45, 20), (89, 40, 23), (25, 44, 39)] 

    Explanation: Sorted using the 2nd index key

Given tuples, we need to sort them according to any given key. 

This can be done using **sorted() function** where we sort them using key=last and store last as the key index according to which we have to sort the given tuples.

Below is the Python implementation of the above approach:

In [0]:
# Python code to sort a list of tuples 
# according to given key.

# get the last key.
def last(n):
    return n[m]  
 
# function to sort the tuple   
def sort(tuples):

    # We pass used defined function last
    # as a parameter. 
    return sorted(tuples, key = last)
 
# driver code  
a = [(23, 45, 20), (25, 44, 39), (89, 40, 23)]
m = 2
print("Sorted:"),
print(sort(a))

Sorted:
[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

####Reversing a Tuple :

As we know that in Python, tuples are immutable, thus it cannot be changed or altered. This provides us with limited ways of reversing a tuple, unlike a list. We will go through few techniques on how a tuple in python can be reversed.
Examples:



    Input : 
    tuples = ('z','a','d','f','g','e','e','k')
    
    Output :
    ('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

    Input : 
    tuples = (10, 11, 12, 13, 14, 15)
    Output : 
    (15, 14, 13, 12, 11, 10)

    Method 1: Using the slicing technique. 
    
  In this technique, a copy of the tuple is made and the tuple is not sorted in-place. Since tuples are immutable, there is no way to reverse a tuple in-place. Creating a copy requires more space to hold all of the existing elements. Therefore, this exhausts memory.

In [0]:
# Reversing a tuple using slicing technique
# New tuple is created
def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup
    
# Driver Code
tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

    Method 2: Using the **reversed()** built-in function.
    
In this method, we do not make any copy of the tuple. Instead, we get a reverse iterator which we use to cycle through the tuple, similar to the list.

In [0]:
# Reversing a list using reversed()

def Reverse(tuples):
    new_tup = ()
    for k in reversed(tuples):
        new_tup = new_tup + (k,)
    print (new_tup)

# Driver Code
tuples = (10, 11, 12, 13, 14, 15)
Reverse(tuples)

(15, 14, 13, 12, 11, 10)

####Remove Empty Tuples from a List:

In this article, we will see how can we remove an empty tuple from a given list of tuples. We will find various ways, in which we can perform this task of removing tuples using various methods and ways in Python.
Examples:



    Input : 
    tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]
    Output : 
    [('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

    Input : 
    tuples = [('','','8'), (), ('0', '00', '000'),('birbal', '', '45'), (''), (),  ('',''),()]

    Output : 
    [('', '', '8'), ('0', '00', '000'), ('birbal', '', '45'), ('', '')]

    Method 1: Using the concept of List Comprehension

In [0]:
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]

for t in tuples:
  if t:
    print(t)

('ram', '15', '8')
('laxman', 'sita')
('krishna', 'akbar', '45')
('', '')

In [0]:
# Python program to remove empty tuples from a 
# list of tuples function to remove empty tuples 
# using list comprehension
def Remove(tuples):
    tuples = [t for t in tuples if t]
    return tuples

# Driver Code
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('',''),()]
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

    Method 2: Using the filter() method 
    
Using the inbuilt method filter() in Python, we can filter out the empty elements by passing the None as the parameter. This method works in both Python 2 and Python 3 and above, but the desired output is only shown in Python 2 because Python 3 returns a generator. filter() is the faster than the method of list comprehension. Let's see what happens when we run the program in Python 2.

In [0]:
# Python2 program to remove empty tuples
# from a list of tuples function to remove 
# empty tuples using filter

def Remove(tuples):
    tuples = filter(None, tuples)
    return tuples

# Driver Code
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('',''),()]
print (Remove(tuples))

<filter object at 0x7f33e994d5c0>

####Printing Duplicates from a list of integers:

Given a list of integers with duplicate elements in it. The task to generate another list, which contains only the duplicate elements. In simple words, the new list should contain the elements which appear more than one.

    Examples :

    Input : 
    list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
    Output : 
    output_list = [20, 30, -20, 60]


    Input :  
    list = [-1, 1, -1, 8]
    Output : 
    output_list = [-1]

In [0]:
# Python program to print 
# duplicates from a list 
# of integers
def Repeat(x):
    _size = len(x)
    repeated = []
    for i in range(_size):
        k = i + 1
        for j in range(k, _size):
            if x[i] == x[j] and x[i] not in repeated:
                repeated.append(x[i])
    return repeated

# Driver Code
list1 = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
print (Repeat(list1))

[20, 30, -20, 60]

###Module - 06 : Dictionary

####Python Dictionary :

In Python, a Dictionary can be created by placing sequence of elements within curly {} braces, separated by 'comma'. Dictionary holds a pair of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any datatype and can be duplicated, whereas keys can't be repeated and must be immutable.

    Dictionary keys are case sensitive, same name but different cases of Key will be treated distinctly.

In [0]:


# Creating a Dictionary 
# with Integer Keys
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

# Creating a Dictionary 
# with Mixed keys
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

 Dictionary can also be created by the built-in function dict(). An empty dictionary can be created by just placing to curly braces{}.

In [0]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)

# Creating a Dictionary
# with each item as a Pair
Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

Nested Dictionary:

In [0]:

# Creating a Nested Dictionary 
# as shown in the below image
Dict = {1: 'Geeks', 2: 'For', 
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}}

print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

    Adding elements to a Dictionary

In Python Dictionary, Addition of elements can be done in multiple ways. 

1. One value at a time can be added to a Dictionary by defining value along with the key e.g. Dict[Key] = 'Value'. 

2. Updating an existing value in a Dictionary can be done by using the built-in **update() method**. 

3. Nested key values can also be added to an existing Dictionary.

**Note**- While adding a value, if the key value already exists, the value gets updated otherwise a new Key with the value is added to the Dictionary.

In [0]:


# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Adding set of values 
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)

# Adding Nested Key value to Dictionary
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

    Accessing elements from a Dictionary

 In order to access the items of a dictionary refer to its key name.Key can be used inside square brackets.

In [0]:
# Python program to demonstrate  
# accessing a element from a Dictionary 

# Creating a Dictionary 
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'])

# accessing a element using key
print("Accessing a element using key:")
print(Dict[1])

Accessing a element using key:
For
Accessing a element using key:
Geeks

 There is also a method called get() that will also help in acessing the element from a dictionary.

In [0]:

# Creating a Dictionary 
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# accessing a element using get()
# method
print("Accessing a element using get:")
print(Dict.get(3))

Accessing a element using get:
Geeks

Accessing element of a nested dictionary
In order to access the value of any key in nested dictionary, use indexing [] syntax.

In [0]:
# Creating a Dictionary
Dict = {'Dict1': {1: 'Geeks'},
        'Dict2': {'Name': 'For'}}

# Accessing element using key
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
For

    Removing Elements from Dictionary

    Using del keyword
In Python Dictionary, deletion of keys can be done by using the del keyword. Using del keyword, specific values from a dictionary as well as whole dictionary can be deleted. Items in a Nested dictionary can also be deleted by using del keyword and providing specific nested key and particular key to be deleted from that nested Dictionary.

    Note- del Dict will delete the entire dictionary and hence 
    printing it after deletion will raise an Error.

In [0]:

# Initial Dictionary
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Geeks',
        'A' : {1 : 'Geeks', 2 : 'For', 3 : 'Geeks'},
        'B' : {1 : 'Geeks', 2 : 'Life'}}
print("Initial Dictionary: ")
print(Dict)

# Deleting a Key value
del Dict[6]
print("\nDeleting a specific key: ")
print(Dict)

# Deleting a Key from
# Nested Dictionary
del Dict['A'][2]
print("\nDeleting a key from Nested Dictionary: ")
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

    Using pop() method
Pop() method is used to return and delete the value of the key specified.

In [0]:
# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# Deleting a key 
# using pop() method
pop_ele = Dict.pop(1)
print('\nDictionary after deletion: ' + str(Dict))
print('Value associated to poped key is: ' + str(pop_ele))

Dictionary after deletion: {'name': 'For', 3: 'Geeks'}
Value associated to poped key is: Geeks

    Using popitem() method
The popitem() returns and removes an arbitrary element (key, value) pair from the dictionary.

In [0]:
# Creating Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# Deleting an arbitrary key
# using popitem() function
pop_ele = Dict.popitem()
print("\nDictionary after deletion: " + str(Dict))
print("The arbitrary pair returned is: " + str(pop_ele))

Dictionary after deletion: {1: 'Geeks', 'name': 'For'}
The arbitrary pair returned is: (3, 'Geeks')

    Using clear() method
All the items from a dictionary can be deleted at once by using clear() method.

In [0]:
# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}


# Deleting entire Dictionary
Dict.clear()
print("\nDeleting Entire Dictionary: ")
print(Dict)

Deleting Entire Dictionary:
{}

    Dictionary Methods

```

copy() 	They copy() method returns a shallow copy of the dictionary.
clear() 	The clear() method removes all items from the dictionary.
pop() 	Removes and returns an element from a dictionary having the given key.
popitem() 	Removes the arbitrary key-value pair from the dictionary and returns it as tuple.
get() 	It is a conventional method to access a value for a key.
dictionary_name.values() 	returns a list of all the values available in a given dictionary.
str() 	Produces a printable string representation of a dictionary.
update() 	Adds dictionary dict2’s key-values pairs to dict
setdefault() 	Set dict[key]=default if key is not already in dict
keys() 	Returns list of dictionary dict’s keys
items() 	Returns a list of dict’s (key, value) tuple pairs
has_key() 	Returns true if key in dictionary dict, false otherwise
fromkeys() 	Create a new dictionary with keys from seq and values set to value.
type() 	Returns the type of the passed variable.
cmp() 	Compares elements of both dict.

```

####Dictionary Methods in Python Set 1 :

1. str(dic) :- This method is used to return the string, denoting all the dictionary keys with their values.

2. items() :- This method is used to return the list with all dictionary keys with values.

In [0]:
# Python code to demonstrate working of
# str() and items()

# Initializing dictionary
dic = { 'Name' : 'Nandini', 'Age' : 19 }

# using str() to display dic as string
print ("The constituents of dictionary as string are : ")
print (str(dic))

# using str() to display dic as list
print ("The constituents of dictionary as list are : ")
print (dic.items())

The constituents of dictionary as string are :
{'Name': 'Nandini', 'Age': 19}
The constituents of dictionary as list are :
dict_items([('Name', 'Nandini'), ('Age', 19)])

3. len() :- It returns the count of key entities of the dictionary elements.

4. type() :- This function returns the data type of the argument.

In [0]:
# Python code to demonstrate working of
# len() and type()

# Initializing dictionary
dic = { 'Name' : 'Nandini', 'Age' : 19, 'ID' : 2541997 }

# Initializing list
li = [ 1, 3, 5, 6 ]

# using len() to display dic size
print ("The size of dic is : ",end="")
print (len(dic))

# using type() to display data type
print ("The data type of dic is : ",end="")
print (type(dic))

# using type() to display data type
print ("The data type of li is : ",end="")
print (type(li))

The size of dic is : 3
The data type of dic is : <class 'dict'>
The data type of li is : <class 'list'>

5. copy() :- This function creates the shallow copy of the dictionary into other dictionary.

6. clear() :- This function is used to clear the dictionary contents.

In [0]:
# Python code to demonstrate working of
# clear() and copy()

# Initializing dictionary
dic1 = { 'Name' : 'Nandini', 'Age' : 19 }

# Initializing dictionary 
dic3 = {}

# using copy() to make shallow copy of dictionary
dic3 = dic1.copy()

# printing new dictionary
print ("The new copied dictionary is : ")
print (dic3.items())

# clearing the dictionary
dic1.clear()

# printing cleared dictionary
print ("The contents of deleted dictionary is : ",end="")
print (dic1.items())

The new copied dictionary is :
dict_items([('Name', 'Nandini'), ('Age', 19)])
The contents of deleted dictionary is : dict_items([])

####Dictionary Methods in Python Set 2

1. fromkeys(seq,value) :- This method is used to declare a new dictionary from the sequence mentioned in its arguments. This function can also initialize the declared dictionary with "value" argument.

2. update(dic) :- This function is used to update the dictionary to add other dictionary keys.

In [0]:
# Python code to demonstrate working of
# fromkeys() and update()

# Initializing dictionary 1
dic1 = { 'Name' : 'Nandini', 'Age' : 19 }

# Initializing dictionary 2
dic2 = { 'ID' : 2541997 }

# Initializing sequence
sequ = ('Name', 'Age', 'ID')

# using update to add dic2 values in dic 1
dic1.update(dic2)

# printing updated dictionary values
print ("The updated dictionary is : ")
print (str(dic1))

# using fromkeys() to transform sequence into dictionary
dict = dict.fromkeys(sequ,5)

# printing new dictionary values
print ("The new dictionary values are : ")
print (str(dict))

The updated dictionary is :
{'Name': 'Nandini', 'Age': 19, 'ID': 2541997}
The new dictionary values are :
{'Name': 5, 'Age': 5, 'ID': 5}



3. get(key, def_val) :- This function return the key value associated with the key mentioned in arguments. If key is not present, the default value is returned.

In [0]:
# Python code to demonstrate working of
# has_key() and get()

# Initializing dictionary
dict = { 'Name' : 'Nandini', 'Age' : 19 }


# using get() to print a key value
print ("The value associated with ID is : ")
print (dict.get('ID', "Not Present"))

# printing dictionary values
print ("The dictionary values are : ")
print (str(dict))

The value associated with ID is :
None
The dictionary values are :
{'Name': 'Nandini', 'Age': 19}

 4. setdefault(key, def_value) :- This function also searches for a key and displays its value like get() but, it creates new key with def_value if key is not present.

In [0]:
# Python code to demonstrate working of
# setdefault()

# Initializing dictionary
mydict = { 'Name' : 'Nandini', 'Age' : 19 }

# using setdefault() to print a key value
print ("The value associated with Age is : ",end="")
print (mydict.setdefault('ID', "No ID"))

# printing dictionary values
print ("The dictionary values are : ")
print (str(mydict))

The value associated with Age is : No ID
The dictionary values are :
{'Name': 'Nandini', 'Age': 19, 'ID': 'No ID'}

####Python Counter | Majority Element:

Majority Element: A majority element in an array A[] of size n is an element that appears more than n/2 times (and hence there is at most one such element).

Write a function which takes an array and emits the majority element (if it exists), otherwise prints NONE as follows:
```
Examples:

Input : 3 3 4 2 4 4 2 4 4
Output : 4 

Input : 3 3 4 2 4 4 2 4
Output : NONE
```

We have existing solution for this problem please refer Majority Element link. We can solve this problem quickly in Python using Counter(iterable) function. Approach is simple,

    1. Convert given list of elements into dictionary using 
       Counter() method, having elements as keys and their frequencies as value.
    2. Now traverse complete dictionary and check for element 
       whose frequency follows the condition greater than (n/2) 
       where n is size of list. That element will be majority element.

In [0]:
# Function to find majority element
from collections import Counter

def majority(arr):

    # convert array into dictionary
    freqDict = Counter(arr)

    # traverse dictionary and check majority element
    size = len(arr)
    for (key,val) in freqDict.items():
         if (val > (size/2)):
             print(key)
             return
    print('None')

# Driver program
if __name__ == "__main__":
    arr = [3,3,4,2,4,4,2,4,4] 
    majority(arr)

4

####Python | Find Common elements in three Sorted Arrays by Dictionary intersection

Given three arrays sorted in non-decreasing order, print all common elements in these arrays.

```
Examples:

Input:  ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
Output: [80, 20]

Input:  ar1 = [1, 5, 5]
        ar2 = [3, 4, 5, 5, 10]
        ar3 = [5, 5, 10, 20]
Output: [5, 5]

```

We have existing solution for this problem please refer Find common elements in three sorted arrays link. We can solve this problem quickly in python using intersection of dictionaries. Approach is simple,

    1. First convert all three lists into dictionaries having 
       elements as keys and their frequencies as value, using 
       Counter() method.
    2. Now perform intersection operation for three dictionaries,
       this will result us dictionary having common elements among 
       three array list with their frequencies.

In [0]:
# Function to find common elements in three
# sorted arrays
from collections import Counter

def commonElement(ar1,ar2,ar3):
     # first convert lists into dictionary
     ar1 = Counter(ar1)
     ar2 = Counter(ar2)
     ar3 = Counter(ar3)
   
     # perform intersection operation
     resultDict = dict(ar1.items() & ar2.items() & ar3.items())
     common = []
    
     # iterate through resultant dictionary
     # and collect common elements
     for (key,val) in resultDict.items():
          for i in range(0,val):
               common.append(key)

     print(common)

# Driver program
if __name__ == "__main__":
    ar1 = [1, 5, 10, 20, 20 ,40, 80]
    ar2 = [6, 7, 20, 20,80, 100]
    ar3 = [3, 4, 15, 20, 20, 30, 70, 80, 120]
    commonElement(ar1,ar2,ar3)

[80, 20, 20]

####Python | Convert a list of Tuples into a Dictionary :

    Sometimes you might need to convert a tuple to dict object to make it more readable.

In this article, we will try to learn how to convert a list of tuples into a dictionary. Here we will find two methods of doing this.
```
Examples:

Input : [("akash", 10), ("gaurav", 12), ("anand", 14), 
         ("suraj", 20), ("akhil", 25), ("ashish", 30)]
Output : {'akash': [10], 'gaurav': [12], 'anand': [14], 
          'ashish': [30], 'akhil': [25], 'suraj': [20]}

Input : [('A', 1), ('B', 2), ('C', 3)]
Output : {'B': [2], 'A': [1], 'C': [3]}
```

    Method 1 : Use of setdefault()

Here we have used the dictionary method setdefault() to convert the first parameter to key and the second to the value of the dictionary. 

    setdefault(key, def_value) function searches for a key and displays 
    its value and creates a new key with def_value if the key is not 
    present. Using the append function we just added the values to 
    the dictionary.

In [0]:
# Python code to convert into dictionary

def Convert(tup, di):
    for a, b in tup:
        di.setdefault(a, []).append(b)
    return di
    
# Driver Code    
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

dictionary = {}
print (Convert(tups, dictionary))

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

    Method 2 : Use of dict() method
    
This is a simple method of conversion from a list or tuple to a dictionary. Here we pass a tuple into the dict() method which converts the tuple into the corresponding dictionary.

In [0]:
# Python code to convert into dictionary
def Convert(tup, di):
    di = dict(tup)
    return di
    
# Driver Code 
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]

dictionary = {}

print (Convert(tups, dictionary))

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [0]:
n= 5 
print(int(5/2))

2